force-app/main/default/flows/Case_Handover.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Publish_the_case_number</name>
        <label>Publish the case number</label>
        <locationX>233</locationX>
        <locationY>356</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>ParentCaseId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Handover case number {!CaseNumber} Created!</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>feedItemId</assignToReference>
            <name>feedItemId</name>
        </outputParameters>
    </actionCalls>
    <description>https://jira.deliveryhero.com/browse/SP-2387</description>
    <interviewLabel>Case_Handover {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case_Handover</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>IdentifyRecordTypeID</name>
        <label>IdentifyRecordTypeID</label>
        <locationX>171</locationX>
        <locationY>30</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recordtypeupdate</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordType</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RecordtypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>ParentCaseUpdate</name>
        <label>ParentCaseUpdate</label>
        <locationX>250</locationX>
        <locationY>238</locationY>
        <connector>
            <targetReference>Publish_the_case_number</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentCaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Handover__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Recordtypeupdate</name>
        <label>Recordtypeupdate</label>
        <locationX>58</locationX>
        <locationY>225</locationY>
        <connector>
            <targetReference>ParentCaseUpdate</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordtypeID</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>IdentifyRecordTypeID</startElementReference>
    <status>Draft</status>
    <variables>
        <name>CaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>feedItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ParentCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordtypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
