force-app/main/default/flows/DE_Child_Case_Status_Loop.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>DoNothing</name>
        <label>Do Nothing</label>
        <locationX>1073</locationX>
        <locationY>421</locationY>
        <assignmentItems>
            <assignToReference>vChildCaseCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vChildCaseCounter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_all_Cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IncrementCounter</name>
        <label>Increment Counter</label>
        <locationX>805</locationX>
        <locationY>255</locationY>
        <assignmentItems>
            <assignToReference>vChildCaseCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_all_Cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Substract_Counter</name>
        <label>Substract Counter</label>
        <locationX>938</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>vChildCaseCounter</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_all_Cases</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_they_all_resolved</name>
        <label>Are they all resolved?</label>
        <locationX>383</locationX>
        <locationY>491</locationY>
        <defaultConnector>
            <targetReference>Update_Parent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vChildCaseCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Parent_Status</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Counter_1</name>
        <label>Counter &lt;= 1</label>
        <locationX>938</locationX>
        <locationY>142</locationY>
        <defaultConnector>
            <targetReference>Substract_Counter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vChildCaseCounter</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DoNothing</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Case_Resolved</name>
        <label>Is Case Resolved?</label>
        <locationX>587</locationX>
        <locationY>136</locationY>
        <defaultConnector>
            <targetReference>IncrementCounter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>vEachCase.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resolved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vEachCase.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Counter_1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>DE - Child Case Status Loop {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DE - Child Case Status Loop</label>
    <loops>
        <name>Loop_through_all_Cases</name>
        <label>Loop through all Cases</label>
        <locationX>382</locationX>
        <locationY>256</locationY>
        <assignNextValueToReference>vEachCase</assignNextValueToReference>
        <collectionReference>vRelatedCases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Case_Resolved</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Are_they_all_resolved</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>DE_Bring_All_Child_Cases</name>
        <label>DE Bring All Child Cases</label>
        <locationX>380</locationX>
        <locationY>145</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_all_Cases</targetReference>
        </connector>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vParentID</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>vRelatedCases</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>IsClosed</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Parent</name>
        <label>Update Parent</label>
        <locationX>598</locationX>
        <locationY>489</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vParentID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Open_Children_Cases_Counter__c</field>
            <value>
                <elementReference>vChildCaseCounter</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Parent_Status</name>
        <label>Update Parent Status</label>
        <locationX>382</locationX>
        <locationY>619</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vParentID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Open_Children_Cases_Counter__c</field>
            <value>
                <elementReference>vChildCaseCounter</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New Answer</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>DE_Bring_All_Child_Cases</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>vChildCaseCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vEachCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>vParentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vRelatedCases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
