force-app/main/default/flows/DE_CC_Task_Case_Description.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>test</name>
        <label>test</label>
        <locationX>30</locationX>
        <locationY>114</locationY>
        <assignmentItems>
            <assignToReference>var_CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>5007E000006dI9y</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TaskDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eget felis eu turpis blandit lobortis a non ante. Etiam id aliquet erat. Curabitur vehicula finibus sem, ac facilisis eros. Ut nec dignissim elit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam finibus turpis magna, ut varius lectus sollicitudin vel. Maecenas congue placerat risus eget congue. Nulla eget justo non diam vulputate porta.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_case_description</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_Description</name>
        <label>Is DE Inbound Without Description?</label>
        <locationX>222</locationX>
        <locationY>285</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_CaseDescription</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_CaseRecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0121r000000V9wgAAC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_case_description</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>check if the case is from DE inbound and has description, if not &gt; update with task description
called by process DE CC - Call &lt;&gt; Case Description</description>
    <interviewLabel>DE CC - Task &lt;&gt; Case Description {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DE CC - Task &lt;&gt; Case Description</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_case_description</name>
        <label>get case description</label>
        <locationX>221</locationX>
        <locationY>113</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Description</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_CaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>var_CaseDescription</assignToReference>
            <field>Description</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_CaseRecordTypeId</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>update_case_description</name>
        <label>update case description</label>
        <locationX>224</locationX>
        <locationY>467</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>var_TaskDescription</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>get_case_description</startElementReference>
    <status>Active</status>
    <variables>
        <name>var_CaseDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_CaseRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_TaskDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
