force-app/main/default/flows/Global_CC_Customer_Email_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Contact Added/Changed</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_pmetdec</targetReference>
            </connector>
            <label>Has WebEmail</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_3_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>300</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_3_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_3_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_3_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <description>SP-4185 + SP-4870+SP-4864</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
        NOT($Permission.Exclude_Migration_User_from_Validation) ,
	OR(
		ISNEW(),
		ISCHANGED([Case].ContactId)
	),
	NOT(ISBLANK([Case].ContactId)),
        NOT(ISBLANK([Case].ContactEmail)),
	OR(
		ISBLANK([Case].Customer_Email__c),
		[Case].Customer_Email__c != [Case].SuppliedEmail
	),
	ISPICKVAL([Case].Type,&apos;Partner&apos;),
	OR(
                [Case].RecordType.DeveloperName = &apos;DE_Inbound_Case&apos;,
                [Case].RecordType.DeveloperName = &apos;Talabat_Inbound_Case&apos;,
                [Case].RecordType.DeveloperName = &apos;PY_Inbound_Case&apos;,
                [Case].RecordType.DeveloperName = &apos;CD_Inbound_Case&apos;,
                [Case].RecordType.DeveloperName = &apos;AT_Inbound_Case&apos;,
                [Case].RecordType.DeveloperName = &apos;FP_Inbound_Case&apos;,
                [Case].RecordType.DeveloperName = &apos;HU_Inbound_Case&apos;,
                [Case].RecordType.DeveloperName = &apos;YE_Inbound_Case&apos;
	)
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>AND(
        NOT({!$Permission.Exclude_Migration_User_from_Validation}) ,
	OR(
		ISNEW(),
		ISCHANGED({!myVariable_current.ContactId})
	),
	NOT(ISBLANK({!myVariable_current.ContactId})),
        NOT(ISBLANK({!myVariable_current.ContactEmail})),
	OR(
		ISBLANK({!myVariable_current.Customer_Email__c}),
		{!myVariable_current.Customer_Email__c} != {!myVariable_current.SuppliedEmail}
	),
	ISPICKVAL({!myVariable_current.Type},&apos;Partner&apos;),
	OR(
                {!myVariable_current.RecordType.DeveloperName} = &apos;DE_Inbound_Case&apos;,
                {!myVariable_current.RecordType.DeveloperName} = &apos;Talabat_Inbound_Case&apos;,
                {!myVariable_current.RecordType.DeveloperName} = &apos;PY_Inbound_Case&apos;,
                {!myVariable_current.RecordType.DeveloperName} = &apos;CD_Inbound_Case&apos;,
                {!myVariable_current.RecordType.DeveloperName} = &apos;AT_Inbound_Case&apos;,
                {!myVariable_current.RecordType.DeveloperName} = &apos;FP_Inbound_Case&apos;,
                {!myVariable_current.RecordType.DeveloperName} = &apos;HU_Inbound_Case&apos;,
                {!myVariable_current.RecordType.DeveloperName} = &apos;YE_Inbound_Case&apos;
	)
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
NOT($Permission.Exclude_Migration_User_from_Validation) ,
OR(
[Case].RecordType.DeveloperName == &apos;DE_Inbound_Case&apos;,
[Case].RecordType.DeveloperName == &apos;CD_Inbound_Case&apos;,
[Case].RecordType.DeveloperName == &apos;Talabat_Inbound_Case&apos;,
[Case].RecordType.DeveloperName == &apos;PY_Inbound_Case&apos;,
[Case].RecordType.DeveloperName == &apos;AT_Inbound_Case&apos;,
[Case].RecordType.DeveloperName == &apos;FP_Inbound_Case&apos;,
[Case].RecordType.DeveloperName == &apos;HU_Inbound_Case&apos;,
[Case].RecordType.DeveloperName == &apos;YE_Inbound_Case&apos;),
NOT(ISBLANK([Case].SuppliedEmail ))
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>AND(
NOT({!$Permission.Exclude_Migration_User_from_Validation}) ,
OR(
{!myVariable_current.RecordType.DeveloperName} == &apos;DE_Inbound_Case&apos;,
{!myVariable_current.RecordType.DeveloperName} == &apos;CD_Inbound_Case&apos;,
{!myVariable_current.RecordType.DeveloperName} == &apos;Talabat_Inbound_Case&apos;,
{!myVariable_current.RecordType.DeveloperName} == &apos;PY_Inbound_Case&apos;,
{!myVariable_current.RecordType.DeveloperName} == &apos;AT_Inbound_Case&apos;,
{!myVariable_current.RecordType.DeveloperName} == &apos;FP_Inbound_Case&apos;,
{!myVariable_current.RecordType.DeveloperName} == &apos;HU_Inbound_Case&apos;,
{!myVariable_current.RecordType.DeveloperName} == &apos;YE_Inbound_Case&apos;),
NOT(ISBLANK({!myVariable_current.SuppliedEmail} ))
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
NOT($Permission.Exclude_Migration_User_from_Validation) ,
OR(
[Case].RecordType.DeveloperName == &apos;DE_Inbound_Case&apos;,
[Case].RecordType.DeveloperName == &apos;CD_Inbound_Case&apos;,
[Case].RecordType.DeveloperName == &apos;Talabat_Inbound_Case&apos;,
[Case].RecordType.DeveloperName == &apos;PY_Inbound_Case&apos;,
[Case].RecordType.DeveloperName == &apos;AT_Inbound_Case&apos;,
[Case].RecordType.DeveloperName == &apos;FP_Inbound_Case&apos;,
[Case].RecordType.DeveloperName == &apos;HU_Inbound_Case&apos;,
[Case].RecordType.DeveloperName == &apos;YE_Inbound_Case&apos;),
NOT(ISBLANK([Case].SuppliedEmail ))
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>AND(
NOT({!$Permission.Exclude_Migration_User_from_Validation}) ,
OR(
{!myVariable_old.RecordType.DeveloperName} == &apos;DE_Inbound_Case&apos;,
{!myVariable_old.RecordType.DeveloperName} == &apos;CD_Inbound_Case&apos;,
{!myVariable_old.RecordType.DeveloperName} == &apos;Talabat_Inbound_Case&apos;,
{!myVariable_old.RecordType.DeveloperName} == &apos;PY_Inbound_Case&apos;,
{!myVariable_old.RecordType.DeveloperName} == &apos;AT_Inbound_Case&apos;,
{!myVariable_old.RecordType.DeveloperName} == &apos;FP_Inbound_Case&apos;,
{!myVariable_old.RecordType.DeveloperName} == &apos;HU_Inbound_Case&apos;,
{!myVariable_old.RecordType.DeveloperName} == &apos;YE_Inbound_Case&apos;),
NOT(ISBLANK({!myVariable_old.SuppliedEmail} ))
)</expression>
    </formulas>
    <interviewLabel>Global_CC_Customer_Email_Update-10_InterviewLabel</interviewLabel>
    <label>Global CC - Customer Email Update</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Case</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Case - Customer Email</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Customer Email</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>Customer_Email__c</field>
            <value>
                <elementReference>myVariable_current.ContactEmail</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>Case - Customer Email</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Customer Email</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>Customer_Email__c</field>
            <value>
                <elementReference>myVariable_current.SuppliedEmail</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>myDecision</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
