force-app/main/default/flows/Global_Quote_Approval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Submit_for_Approval</name>
        <label>Submit for Approval</label>
        <locationX>179</locationX>
        <locationY>16</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>04a1r000000Pb7W</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>var_quote_quoteid</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Assign_Addcharge_text_value</name>
        <label>Assign Addcharge text value</label>
        <locationX>1411</locationX>
        <locationY>260</locationY>
        <assignmentItems>
            <assignToReference>var_quote_addchargevaluetext</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AddCharges</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_text_field_for_product_approval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Commission_Text_value</name>
        <label>Assign Commission Text value</label>
        <locationX>362</locationX>
        <locationY>265</locationY>
        <assignmentItems>
            <assignToReference>var_quote_comvaluetext</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Comapproval</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Text_Field</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>test_assignment</name>
        <label>test assignment</label>
        <locationX>1391</locationX>
        <locationY>19</locationY>
        <assignmentItems>
            <assignToReference>var_quote_quoteid</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a0F8E00000lpaXn</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lookup_on_all_quote_line_items</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_there_line_items_in_the_quote</name>
        <label>Are there line items in the quote?</label>
        <locationX>1067</locationX>
        <locationY>17</locationY>
        <defaultConnectorLabel>Line Items not in the quote</defaultConnectorLabel>
        <rules>
            <name>Line_Items_in_the_quote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_quotelineitem</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lopp_into_all_ine_items</targetReference>
            </connector>
            <label>Line Items in the quote</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_it_require_Approval</name>
        <label>Does it require Approval?</label>
        <locationX>695</locationX>
        <locationY>358</locationY>
        <defaultConnector>
            <targetReference>Lopp_into_all_ine_items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_listserviceprice_record.Requires_Approval__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_scaled_Commission</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_a_Product_Line_Item</name>
        <label>Is a Product Line Item?</label>
        <locationX>944</locationX>
        <locationY>257</locationY>
        <defaultConnector>
            <targetReference>Lopp_into_all_ine_items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Quotelineitem_Record.Id_List_Product_Price__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_the_record_to_check_the_max_discount</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_a_service_line_item</name>
        <label>Is a service line item?</label>
        <locationX>804</locationX>
        <locationY>135</locationY>
        <defaultConnector>
            <targetReference>Is_a_Product_Line_Item</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Quotelineitem_Record.Id_List_Service_Price__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_the_record_to_check_min_commission</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_any_of_the_tiers_lower_than_the_min_commission</name>
        <label>Is any of the tiers lower than the min commission?</label>
        <locationX>171</locationX>
        <locationY>608</locationY>
        <defaultConnector>
            <targetReference>Loop_into_all_Tiers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes6</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>var_tiers_Record.Commission_in_percentage__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>var_listserviceprice_record.Minimum_Commission_in_Percentage__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_tiers_Record.Commission_per_order__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>var_listserviceprice_record.Minimum_Commission_Per_Order__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Commission_Text_value</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_scaled_Commission</name>
        <label>Is scaled Commission?</label>
        <locationX>698</locationX>
        <locationY>484</locationY>
        <defaultConnector>
            <targetReference>Lookup_on_all_Tiers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_listserviceprice_record.Scaled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_the_commissions_lower_than_the_limit</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_commissions_lower_than_the_limit</name>
        <label>Is the commissions lower than the limit?</label>
        <locationX>524</locationX>
        <locationY>262</locationY>
        <defaultConnector>
            <targetReference>Lopp_into_all_ine_items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>(1 OR 2) and 3</conditionLogic>
            <conditions>
                <leftValueReference>var_Quotelineitem_Record.Commission_In_Percentage__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>var_listserviceprice_record.Minimum_Commission_in_Percentage__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_Quotelineitem_Record.Commission_Per_Order__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>var_listserviceprice_record.Minimum_Commission_Per_Order__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_listserviceprice_record.Requires_Approval__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Commission_Text_value</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_discount_bigger_than_the_allowed_in_SMC</name>
        <label>Is the discount bigger than the allowed in SMC?</label>
        <locationX>1247</locationX>
        <locationY>259</locationY>
        <defaultConnector>
            <targetReference>Lopp_into_all_ine_items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Discountinpercentageinlineitem</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>makecurrencynumbermaxdicsount</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_listproductprice_record.Requires_Add_On__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Addcharge_text_value</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_need_for_approval</name>
        <label>Is there need for approval?</label>
        <locationX>548</locationX>
        <locationY>16</locationY>
        <defaultConnector>
            <targetReference>Update_status_to_approved</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Textfieldcommissionandaddcharges</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submit_for_Approval</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>SP-3863, SP-4046, SSC-787, SSC-516, SSC-1751</description>
    <formulas>
        <name>Discountinpercentageinlineitem</name>
        <dataType>Number</dataType>
        <expression>IF(CONTAINS({!var_Quotelineitem_Record.Discount__c},&quot;%&quot;),

(VALUE(LEFT({!var_Quotelineitem_Record.Discount__c},2)))/100,
(VALUE({!var_Quotelineitem_Record.Discount__c})/{!var_listproductprice_record.List_Price__c}))</expression>
        <scale>4</scale>
    </formulas>
    <formulas>
        <name>makecurrencynumbermaxdicsount</name>
        <dataType>Number</dataType>
        <expression>{!var_listproductprice_record.Unapproved_Discount_Limit__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Textfieldcommissionandaddcharges</name>
        <dataType>String</dataType>
        <expression>{!var_quote_comvaluetext}+{!var_quote_addchargevaluetext}</expression>
    </formulas>
    <interviewLabel>Global - Quote Approval {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Global - Quote Approvalv17</label>
    <loops>
        <name>Loop_into_all_Tiers</name>
        <label>Loop into all Tiers</label>
        <locationX>376</locationX>
        <locationY>605</locationY>
        <assignNextValueToReference>var_tiers_Record</assignNextValueToReference>
        <collectionReference>var_tier</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_any_of_the_tiers_lower_than_the_min_commission</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Lopp_into_all_ine_items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Lopp_into_all_ine_items</name>
        <label>Lopp into all ine items</label>
        <locationX>800</locationX>
        <locationY>15</locationY>
        <assignNextValueToReference>var_Quotelineitem_Record</assignNextValueToReference>
        <collectionReference>var_quotelineitem</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_a_service_line_item</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_there_need_for_approval</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Look_up_into_each_Tier_Record</name>
        <label>Look up into each Tier Record</label>
        <locationX>544</locationX>
        <locationY>606</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_into_all_Tiers</targetReference>
        </connector>
        <filters>
            <field>Id_Opportunity_Quote_Line_Item__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Quotelineitem_Record.Id</elementReference>
            </value>
        </filters>
        <object>Tier__c</object>
        <outputAssignments>
            <assignToReference>var_tiers_Record.Commission_in_percentage__c</assignToReference>
            <field>Commission_in_percentage__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_listserviceprice_record.Commission_Per_Order__c</assignToReference>
            <field>Commission_per_order__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_tiers_Record.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_on_all_quote_line_items</name>
        <label>Lookup on all quote line items</label>
        <locationX>1220</locationX>
        <locationY>19</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_there_line_items_in_the_quote</targetReference>
        </connector>
        <filters>
            <field>Id_Opportunity_Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_quote_quoteid</elementReference>
            </value>
        </filters>
        <object>Opportunity_Quote_Line_Item__c</object>
        <outputReference>var_quotelineitem</outputReference>
        <queriedFields>Id_List_Add_On__c</queriedFields>
        <queriedFields>Id_List_Product_Price__c</queriedFields>
        <queriedFields>Id_List_Service_Price__c</queriedFields>
        <queriedFields>Discount__c</queriedFields>
        <queriedFields>Commission_In_Percentage__c</queriedFields>
        <queriedFields>Commission_Per_Order__c</queriedFields>
        <queriedFields>Commission_Type__c</queriedFields>
        <queriedFields>Sub_type__c</queriedFields>
        <queriedFields>Listed_Price__c</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_on_all_Tiers</name>
        <label>Lookup on all Tiers</label>
        <locationX>698</locationX>
        <locationY>604</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Look_up_into_each_Tier_Record</targetReference>
        </connector>
        <filters>
            <field>Id_Opportunity_Quote_Line_Item__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Quotelineitem_Record.Id</elementReference>
            </value>
        </filters>
        <object>Tier__c</object>
        <outputReference>var_tier</outputReference>
        <queriedFields>Commission_in_percentage__c</queriedFields>
        <queriedFields>Commission_per_order__c</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>Id_Opportunity_Quote_Line_Item__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_the_record_to_check_min_commission</name>
        <label>Lookup the record to check min commission</label>
        <locationX>695</locationX>
        <locationY>258</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_it_require_Approval</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Quotelineitem_Record.Id_List_Service_Price__c</elementReference>
            </value>
        </filters>
        <object>List_Service_Price__c</object>
        <outputAssignments>
            <assignToReference>var_listserviceprice_record.Minimum_Commission_Per_Order__c</assignToReference>
            <field>Minimum_Commission_Per_Order__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_listserviceprice_record.Minimum_Commission_in_Percentage__c</assignToReference>
            <field>Minimum_Commission_in_Percentage__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_listserviceprice_record.Requires_Approval__c</assignToReference>
            <field>Requires_Approval__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_listserviceprice_record.Scaled__c</assignToReference>
            <field>Scaled__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_the_record_to_check_the_max_discount</name>
        <label>Lookup the record to check the max discount</label>
        <locationX>1103</locationX>
        <locationY>258</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_the_discount_bigger_than_the_allowed_in_SMC</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Quotelineitem_Record.Id_List_Product_Price__c</elementReference>
            </value>
        </filters>
        <object>List_Product_Price__c</object>
        <outputAssignments>
            <assignToReference>var_listproductprice_record.List_Price__c</assignToReference>
            <field>List_Price__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_listproductprice_record.Requires_Add_On__c</assignToReference>
            <field>Requires_Add_On__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_listproductprice_record.Unapproved_Discount_Limit__c</assignToReference>
            <field>Unapproved_Discount_Limit__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_status_to_approved</name>
        <label>Update status to approved</label>
        <locationX>182</locationX>
        <locationY>122</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_quote_quoteid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity_Quote__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Text_Field</name>
        <label>Update Text Field</label>
        <locationX>181</locationX>
        <locationY>268</locationY>
        <connector>
            <targetReference>Lopp_into_all_ine_items</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_quote_quoteid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approval_Needed__c</field>
            <value>
                <elementReference>Textfieldcommissionandaddcharges</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity_Quote__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_text_field_for_product_approval</name>
        <label>Update text field for product approval</label>
        <locationX>1587</locationX>
        <locationY>260</locationY>
        <connector>
            <targetReference>Lopp_into_all_ine_items</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_quote_quoteid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approval_Needed__c</field>
            <value>
                <elementReference>Textfieldcommissionandaddcharges</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity_Quote__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Lookup_on_all_quote_line_items</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>assignvalue</name>
        <text>comsion</text>
    </textTemplates>
    <variables>
        <name>var_listproductprice_record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>List_Product_Price__c</objectType>
    </variables>
    <variables>
        <name>var_listserviceprice_record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>List_Service_Price__c</objectType>
    </variables>
    <variables>
        <name>var_quote_addchargevaluetext</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_quote_comvaluetext</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_quote_quoteid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_quotelineitem</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity_Quote_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>var_Quotelineitem_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity_Quote_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>var_tier</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Tier__c</objectType>
    </variables>
    <variables>
        <name>var_tiers_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Tier__c</objectType>
    </variables>
</Flow>
