force-app/main/default/flows/Global_Account_Status_Opportunity_Stage.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Onboarding / Menu Comments Changed?</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision11</name>
        <label>myDecision11</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision13</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_12</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_12</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_12_pmetdec</targetReference>
            </connector>
            <label>Menu Processing Status</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision13</name>
        <label>myDecision13</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision15</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_14</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_14</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_14_pmetdec</targetReference>
            </connector>
            <label>On Boarding Status</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>6.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision15</name>
        <label>myDecision15</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision17</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_16</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_16</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_16_pmetdec</targetReference>
            </connector>
            <label>Closed Won</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>7.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision17</name>
        <label>myDecision17</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision19</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_18</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_18</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_18_pmetdec</targetReference>
            </connector>
            <label>Closed Lost Status</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>8.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision19</name>
        <label>myDecision19</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision21</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_20</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_20</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_20_pmetdec</targetReference>
            </connector>
            <label>Closed Lost Status Winback</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_pmetdec</targetReference>
            </connector>
            <label>Negotiation Stage</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>9.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision21</name>
        <label>myDecision21</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_22</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_22</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_22_pmetdec</targetReference>
            </connector>
            <label>New Status</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision5</name>
        <label>myDecision5</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision8</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_6</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_6_pmetdec</targetReference>
            </connector>
            <label>Collecting Documents Status</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision8</name>
        <label>myDecision8</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision11</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_9</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_9_pmetdec</targetReference>
            </connector>
            <label>Quality Check Status</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_12_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>1200</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_12_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_12_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_12_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_12_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_12_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_14_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>1400</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_14_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_14_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_14_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_14_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_14_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_16_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>1600</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_16_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_16_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_16_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_16_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_16_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_18_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>1800</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_18_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_18_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_18_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_18_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_18_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_20_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>2000</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_20_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_20_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_20_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_20_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_20_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_22_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>2200</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_22_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_22_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_22_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_22_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_22_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_3_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>300</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_3_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_3_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_3_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_6_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>600</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_6_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_6_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_6_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_6_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_6_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_9_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>900</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_9_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_9_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_9_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_9_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_9_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <description>SP-2324 + SP-2710 + SP-4611 + SSC-1117+CZ+SSC-3691</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>Null</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_10_myRule_9_A1_2790064572</name>
        <dataType>String</dataType>
        <expression>Null</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NULL</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_23_myRule_22_A1_0966946434</name>
        <dataType>String</dataType>
        <expression>NULL</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>Null</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_4_myRule_3_A1_5045712254</name>
        <dataType>String</dataType>
        <expression>Null</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>Null</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_7_myRule_6_A1_4753246791</name>
        <dataType>String</dataType>
        <expression>Null</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOT(ISNULL([Opportunity].Onboarding_Menu_Comments__c)) &amp;&amp; (ISCHANGED([Opportunity].Onboarding_Menu_Comments__c) || ISNEW())</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISNULL({!myVariable_current.Onboarding_Menu_Comments__c})) &amp;&amp; (ISCHANGED({!myVariable_current.Onboarding_Menu_Comments__c}) || ISNEW())</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>([Opportunity].RecordType.DeveloperName = &quot;FP_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;FP_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;HU_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;DE_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;FI_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;AT_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;SE_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;PY_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;Yogiyo_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;Talabat_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;CZ_Opportunity&quot;)

&amp;&amp;
(
 (TEXT([Opportunity].Business_Type__c)=&quot;New Business&quot;  
|| 
TEXT([Opportunity].Business_Type__c)=&quot;Owner Change&quot;
||
TEXT([Opportunity].Business_Type__c)=&quot;Franchise Extension&quot;
|| 
TEXT([Opportunity].Business_Type__c)=&quot;Win Back&quot;
|| 
TEXT([Opportunity].Business_Type__c)=&quot;Legal Form Change&quot;)
)
&amp;&amp;
TEXT([Opportunity].StageName )=&quot;Editorial Queue&quot;
&amp;&amp;
TEXT([Opportunity].Account.Account_Status__c ) &lt;&gt;  &quot;Active&quot;
&amp;&amp;
NOT($Permission.Exclude_from_Validation )
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_12</name>
        <dataType>Boolean</dataType>
        <expression>({!myVariable_current.RecordType.DeveloperName} = &quot;FP_Opportunity&quot;
|| 
{!myVariable_current.RecordType.DeveloperName} = &quot;FP_Opportunity&quot;
|| 
{!myVariable_current.RecordType.DeveloperName} = &quot;HU_Opportunity&quot;
|| 
{!myVariable_current.RecordType.DeveloperName} = &quot;DE_Opportunity&quot;
|| 
{!myVariable_current.RecordType.DeveloperName} = &quot;FI_Opportunity&quot;
|| 
{!myVariable_current.RecordType.DeveloperName} = &quot;AT_Opportunity&quot;
|| 
{!myVariable_current.RecordType.DeveloperName} = &quot;SE_Opportunity&quot;
|| 
{!myVariable_current.RecordType.DeveloperName} = &quot;PY_Opportunity&quot;
|| 
{!myVariable_current.RecordType.DeveloperName} = &quot;Yogiyo_Opportunity&quot;
|| 
{!myVariable_current.RecordType.DeveloperName} = &quot;Talabat_Opportunity&quot;
|| 
{!myVariable_current.RecordType.DeveloperName} = &quot;CZ_Opportunity&quot;)

&amp;&amp;
(
 (TEXT({!myVariable_current.Business_Type__c})=&quot;New Business&quot;  
|| 
TEXT({!myVariable_current.Business_Type__c})=&quot;Owner Change&quot;
||
TEXT({!myVariable_current.Business_Type__c})=&quot;Franchise Extension&quot;
|| 
TEXT({!myVariable_current.Business_Type__c})=&quot;Win Back&quot;
|| 
TEXT({!myVariable_current.Business_Type__c})=&quot;Legal Form Change&quot;)
)
&amp;&amp;
TEXT({!myVariable_current.StageName} )=&quot;Editorial Queue&quot;
&amp;&amp;
TEXT({!myVariable_current.Account.Account_Status__c} ) &lt;&gt;  &quot;Active&quot;
&amp;&amp;
NOT({!$Permission.Exclude_from_Validation} )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>([Opportunity].RecordType.DeveloperName = &quot;FP_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;FP_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;HU_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;DE_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;FI_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;AT_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;SE_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;PY_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;Yogiyo_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;Talabat_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;CZ_Opportunity&quot;)

&amp;&amp;
(
 (TEXT([Opportunity].Business_Type__c)=&quot;New Business&quot;  
|| 
TEXT([Opportunity].Business_Type__c)=&quot;Owner Change&quot;
||
TEXT([Opportunity].Business_Type__c)=&quot;Franchise Extension&quot;
|| 
TEXT([Opportunity].Business_Type__c)=&quot;Win Back&quot;
|| 
TEXT([Opportunity].Business_Type__c)=&quot;Legal Form Change&quot;)
)
&amp;&amp;
TEXT([Opportunity].StageName )=&quot;Editorial Queue&quot;
&amp;&amp;
TEXT([Opportunity].Account.Account_Status__c ) &lt;&gt;  &quot;Active&quot;
&amp;&amp;
NOT($Permission.Exclude_from_Validation )
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_12_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>({!myVariable_old.RecordType.DeveloperName} = &quot;FP_Opportunity&quot;
|| 
{!myVariable_old.RecordType.DeveloperName} = &quot;FP_Opportunity&quot;
|| 
{!myVariable_old.RecordType.DeveloperName} = &quot;HU_Opportunity&quot;
|| 
{!myVariable_old.RecordType.DeveloperName} = &quot;DE_Opportunity&quot;
|| 
{!myVariable_old.RecordType.DeveloperName} = &quot;FI_Opportunity&quot;
|| 
{!myVariable_old.RecordType.DeveloperName} = &quot;AT_Opportunity&quot;
|| 
{!myVariable_old.RecordType.DeveloperName} = &quot;SE_Opportunity&quot;
|| 
{!myVariable_old.RecordType.DeveloperName} = &quot;PY_Opportunity&quot;
|| 
{!myVariable_old.RecordType.DeveloperName} = &quot;Yogiyo_Opportunity&quot;
|| 
{!myVariable_old.RecordType.DeveloperName} = &quot;Talabat_Opportunity&quot;
|| 
{!myVariable_old.RecordType.DeveloperName} = &quot;CZ_Opportunity&quot;)

&amp;&amp;
(
 (TEXT({!myVariable_old.Business_Type__c})=&quot;New Business&quot;  
|| 
TEXT({!myVariable_old.Business_Type__c})=&quot;Owner Change&quot;
||
TEXT({!myVariable_old.Business_Type__c})=&quot;Franchise Extension&quot;
|| 
TEXT({!myVariable_old.Business_Type__c})=&quot;Win Back&quot;
|| 
TEXT({!myVariable_old.Business_Type__c})=&quot;Legal Form Change&quot;)
)
&amp;&amp;
TEXT({!myVariable_old.StageName} )=&quot;Editorial Queue&quot;
&amp;&amp;
TEXT({!myVariable_old.Account.Account_Status__c} ) &lt;&gt;  &quot;Active&quot;
&amp;&amp;
NOT({!$Permission.Exclude_from_Validation} )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>([Opportunity].RecordType.DeveloperName = &quot;FP_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;HU_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;DE_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;FI_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;AT_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;SE_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;PY_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;Yogiyo_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;Talabat_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;CZ_Opportunity&quot;)

&amp;&amp;
(
 (TEXT([Opportunity].Business_Type__c)=&quot;New Business&quot; 
|| 
TEXT([Opportunity].Business_Type__c)=&quot;Owner Change&quot;
||
TEXT([Opportunity].Business_Type__c)=&quot;Franchise Extension&quot;
|| 
TEXT([Opportunity].Business_Type__c)=&quot;Win Back&quot;
|| 
TEXT([Opportunity].Business_Type__c)=&quot;Legal Form Change&quot;)
)
&amp;&amp;
TEXT([Opportunity].StageName )=&quot;Onboarding&quot;
&amp;&amp;
TEXT([Opportunity].Account.Account_Status__c ) &lt;&gt;  &quot;Active&quot;
&amp;&amp;
NOT($Permission.Exclude_from_Validation )
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_14</name>
        <dataType>Boolean</dataType>
        <expression>({!myVariable_current.RecordType.DeveloperName} = &quot;FP_Opportunity&quot;
|| 
{!myVariable_current.RecordType.DeveloperName} = &quot;HU_Opportunity&quot;
|| 
{!myVariable_current.RecordType.DeveloperName} = &quot;DE_Opportunity&quot;
|| 
{!myVariable_current.RecordType.DeveloperName} = &quot;FI_Opportunity&quot;
|| 
{!myVariable_current.RecordType.DeveloperName} = &quot;AT_Opportunity&quot;
|| 
{!myVariable_current.RecordType.DeveloperName} = &quot;SE_Opportunity&quot;
|| 
{!myVariable_current.RecordType.DeveloperName} = &quot;PY_Opportunity&quot;
|| 
{!myVariable_current.RecordType.DeveloperName} = &quot;Yogiyo_Opportunity&quot;
|| 
{!myVariable_current.RecordType.DeveloperName} = &quot;Talabat_Opportunity&quot;
|| 
{!myVariable_current.RecordType.DeveloperName} = &quot;CZ_Opportunity&quot;)

&amp;&amp;
(
 (TEXT({!myVariable_current.Business_Type__c})=&quot;New Business&quot; 
|| 
TEXT({!myVariable_current.Business_Type__c})=&quot;Owner Change&quot;
||
TEXT({!myVariable_current.Business_Type__c})=&quot;Franchise Extension&quot;
|| 
TEXT({!myVariable_current.Business_Type__c})=&quot;Win Back&quot;
|| 
TEXT({!myVariable_current.Business_Type__c})=&quot;Legal Form Change&quot;)
)
&amp;&amp;
TEXT({!myVariable_current.StageName} )=&quot;Onboarding&quot;
&amp;&amp;
TEXT({!myVariable_current.Account.Account_Status__c} ) &lt;&gt;  &quot;Active&quot;
&amp;&amp;
NOT({!$Permission.Exclude_from_Validation} )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>([Opportunity].RecordType.DeveloperName = &quot;FP_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;HU_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;DE_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;FI_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;AT_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;SE_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;PY_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;Yogiyo_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;Talabat_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;CZ_Opportunity&quot;)

&amp;&amp;
(
 (TEXT([Opportunity].Business_Type__c)=&quot;New Business&quot; 
|| 
TEXT([Opportunity].Business_Type__c)=&quot;Owner Change&quot;
||
TEXT([Opportunity].Business_Type__c)=&quot;Franchise Extension&quot;
|| 
TEXT([Opportunity].Business_Type__c)=&quot;Win Back&quot;
|| 
TEXT([Opportunity].Business_Type__c)=&quot;Legal Form Change&quot;)
)
&amp;&amp;
TEXT([Opportunity].StageName )=&quot;Onboarding&quot;
&amp;&amp;
TEXT([Opportunity].Account.Account_Status__c ) &lt;&gt;  &quot;Active&quot;
&amp;&amp;
NOT($Permission.Exclude_from_Validation )
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_14_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>({!myVariable_old.RecordType.DeveloperName} = &quot;FP_Opportunity&quot;
|| 
{!myVariable_old.RecordType.DeveloperName} = &quot;HU_Opportunity&quot;
|| 
{!myVariable_old.RecordType.DeveloperName} = &quot;DE_Opportunity&quot;
|| 
{!myVariable_old.RecordType.DeveloperName} = &quot;FI_Opportunity&quot;
|| 
{!myVariable_old.RecordType.DeveloperName} = &quot;AT_Opportunity&quot;
|| 
{!myVariable_old.RecordType.DeveloperName} = &quot;SE_Opportunity&quot;
|| 
{!myVariable_old.RecordType.DeveloperName} = &quot;PY_Opportunity&quot;
|| 
{!myVariable_old.RecordType.DeveloperName} = &quot;Yogiyo_Opportunity&quot;
|| 
{!myVariable_old.RecordType.DeveloperName} = &quot;Talabat_Opportunity&quot;
|| 
{!myVariable_old.RecordType.DeveloperName} = &quot;CZ_Opportunity&quot;)

&amp;&amp;
(
 (TEXT({!myVariable_old.Business_Type__c})=&quot;New Business&quot; 
|| 
TEXT({!myVariable_old.Business_Type__c})=&quot;Owner Change&quot;
||
TEXT({!myVariable_old.Business_Type__c})=&quot;Franchise Extension&quot;
|| 
TEXT({!myVariable_old.Business_Type__c})=&quot;Win Back&quot;
|| 
TEXT({!myVariable_old.Business_Type__c})=&quot;Legal Form Change&quot;)
)
&amp;&amp;
TEXT({!myVariable_old.StageName} )=&quot;Onboarding&quot;
&amp;&amp;
TEXT({!myVariable_old.Account.Account_Status__c} ) &lt;&gt;  &quot;Active&quot;
&amp;&amp;
NOT({!$Permission.Exclude_from_Validation} )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>([Opportunity].RecordType.DeveloperName = &quot;FP_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;HU_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;DE_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;FI_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;AT_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;SE_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;PY_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;Yogiyo_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;Talabat_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;CZ_Opportunity&quot;)

&amp;&amp;
(
 (TEXT([Opportunity].Business_Type__c)=&quot;New Business&quot; 
|| 
TEXT([Opportunity].Business_Type__c)=&quot;Owner Change&quot;
||
TEXT([Opportunity].Business_Type__c)=&quot;Franchise Extension&quot;
|| 
TEXT([Opportunity].Business_Type__c)=&quot;Win Back&quot;
|| 
TEXT([Opportunity].Business_Type__c)=&quot;Legal Form Change&quot;)
)
&amp;&amp;
TEXT([Opportunity].StageName )=&quot;Closed Won&quot;
&amp;&amp;
TEXT([Opportunity].Account.Account_Status__c ) &lt;&gt;  &quot;Active&quot;
&amp;&amp;
NOT($Permission.Exclude_from_Validation )

</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_16</name>
        <dataType>Boolean</dataType>
        <expression>({!myVariable_current.RecordType.DeveloperName} = &quot;FP_Opportunity&quot;
|| 
{!myVariable_current.RecordType.DeveloperName} = &quot;HU_Opportunity&quot;
|| 
{!myVariable_current.RecordType.DeveloperName} = &quot;DE_Opportunity&quot;
|| 
{!myVariable_current.RecordType.DeveloperName} = &quot;FI_Opportunity&quot;
|| 
{!myVariable_current.RecordType.DeveloperName} = &quot;AT_Opportunity&quot;
|| 
{!myVariable_current.RecordType.DeveloperName} = &quot;SE_Opportunity&quot;
|| 
{!myVariable_current.RecordType.DeveloperName} = &quot;PY_Opportunity&quot;
|| 
{!myVariable_current.RecordType.DeveloperName} = &quot;Yogiyo_Opportunity&quot;
|| 
{!myVariable_current.RecordType.DeveloperName} = &quot;Talabat_Opportunity&quot;
|| 
{!myVariable_current.RecordType.DeveloperName} = &quot;CZ_Opportunity&quot;)

&amp;&amp;
(
 (TEXT({!myVariable_current.Business_Type__c})=&quot;New Business&quot; 
|| 
TEXT({!myVariable_current.Business_Type__c})=&quot;Owner Change&quot;
||
TEXT({!myVariable_current.Business_Type__c})=&quot;Franchise Extension&quot;
|| 
TEXT({!myVariable_current.Business_Type__c})=&quot;Win Back&quot;
|| 
TEXT({!myVariable_current.Business_Type__c})=&quot;Legal Form Change&quot;)
)
&amp;&amp;
TEXT({!myVariable_current.StageName} )=&quot;Closed Won&quot;
&amp;&amp;
TEXT({!myVariable_current.Account.Account_Status__c} ) &lt;&gt;  &quot;Active&quot;
&amp;&amp;
NOT({!$Permission.Exclude_from_Validation} )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>([Opportunity].RecordType.DeveloperName = &quot;FP_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;HU_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;DE_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;FI_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;AT_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;SE_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;PY_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;Yogiyo_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;Talabat_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;CZ_Opportunity&quot;)

&amp;&amp;
(
 (TEXT([Opportunity].Business_Type__c)=&quot;New Business&quot; 
|| 
TEXT([Opportunity].Business_Type__c)=&quot;Owner Change&quot;
||
TEXT([Opportunity].Business_Type__c)=&quot;Franchise Extension&quot;
|| 
TEXT([Opportunity].Business_Type__c)=&quot;Win Back&quot;
|| 
TEXT([Opportunity].Business_Type__c)=&quot;Legal Form Change&quot;)
)
&amp;&amp;
TEXT([Opportunity].StageName )=&quot;Closed Won&quot;
&amp;&amp;
TEXT([Opportunity].Account.Account_Status__c ) &lt;&gt;  &quot;Active&quot;
&amp;&amp;
NOT($Permission.Exclude_from_Validation )

</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_16_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>({!myVariable_old.RecordType.DeveloperName} = &quot;FP_Opportunity&quot;
|| 
{!myVariable_old.RecordType.DeveloperName} = &quot;HU_Opportunity&quot;
|| 
{!myVariable_old.RecordType.DeveloperName} = &quot;DE_Opportunity&quot;
|| 
{!myVariable_old.RecordType.DeveloperName} = &quot;FI_Opportunity&quot;
|| 
{!myVariable_old.RecordType.DeveloperName} = &quot;AT_Opportunity&quot;
|| 
{!myVariable_old.RecordType.DeveloperName} = &quot;SE_Opportunity&quot;
|| 
{!myVariable_old.RecordType.DeveloperName} = &quot;PY_Opportunity&quot;
|| 
{!myVariable_old.RecordType.DeveloperName} = &quot;Yogiyo_Opportunity&quot;
|| 
{!myVariable_old.RecordType.DeveloperName} = &quot;Talabat_Opportunity&quot;
|| 
{!myVariable_old.RecordType.DeveloperName} = &quot;CZ_Opportunity&quot;)

&amp;&amp;
(
 (TEXT({!myVariable_old.Business_Type__c})=&quot;New Business&quot; 
|| 
TEXT({!myVariable_old.Business_Type__c})=&quot;Owner Change&quot;
||
TEXT({!myVariable_old.Business_Type__c})=&quot;Franchise Extension&quot;
|| 
TEXT({!myVariable_old.Business_Type__c})=&quot;Win Back&quot;
|| 
TEXT({!myVariable_old.Business_Type__c})=&quot;Legal Form Change&quot;)
)
&amp;&amp;
TEXT({!myVariable_old.StageName} )=&quot;Closed Won&quot;
&amp;&amp;
TEXT({!myVariable_old.Account.Account_Status__c} ) &lt;&gt;  &quot;Active&quot;
&amp;&amp;
NOT({!$Permission.Exclude_from_Validation} )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>([Opportunity].RecordType.DeveloperName = &quot;FP_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;HU_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;DE_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;FI_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;AT_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;SE_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;PY_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;Yogiyo_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;Talabat_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;CZ_Opportunity&quot;)

&amp;&amp;
(
(TEXT([Opportunity].Business_Type__c)=&quot;New Business&quot; 
|| 
TEXT([Opportunity].Business_Type__c)=&quot;Owner Change&quot;
||
TEXT([Opportunity].Business_Type__c)=&quot;Franchise Extension&quot;
|| 
TEXT([Opportunity].Business_Type__c)=&quot;Legal Form Change&quot;)
)
&amp;&amp;
TEXT([Opportunity].StageName )=&quot;Closed Lost&quot;
&amp;&amp;
TEXT([Opportunity].Account.Account_Status__c ) &lt;&gt;  &quot;Active&quot;
&amp;&amp;
NOT($Permission.Exclude_from_Validation )
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_18</name>
        <dataType>Boolean</dataType>
        <expression>({!myVariable_current.RecordType.DeveloperName} = &quot;FP_Opportunity&quot;
|| 
{!myVariable_current.RecordType.DeveloperName} = &quot;HU_Opportunity&quot;
|| 
{!myVariable_current.RecordType.DeveloperName} = &quot;DE_Opportunity&quot;
|| 
{!myVariable_current.RecordType.DeveloperName} = &quot;FI_Opportunity&quot;
|| 
{!myVariable_current.RecordType.DeveloperName} = &quot;AT_Opportunity&quot;
|| 
{!myVariable_current.RecordType.DeveloperName} = &quot;SE_Opportunity&quot;
|| 
{!myVariable_current.RecordType.DeveloperName} = &quot;PY_Opportunity&quot;
|| 
{!myVariable_current.RecordType.DeveloperName} = &quot;Yogiyo_Opportunity&quot;
|| 
{!myVariable_current.RecordType.DeveloperName} = &quot;Talabat_Opportunity&quot;
|| 
{!myVariable_current.RecordType.DeveloperName} = &quot;CZ_Opportunity&quot;)

&amp;&amp;
(
(TEXT({!myVariable_current.Business_Type__c})=&quot;New Business&quot; 
|| 
TEXT({!myVariable_current.Business_Type__c})=&quot;Owner Change&quot;
||
TEXT({!myVariable_current.Business_Type__c})=&quot;Franchise Extension&quot;
|| 
TEXT({!myVariable_current.Business_Type__c})=&quot;Legal Form Change&quot;)
)
&amp;&amp;
TEXT({!myVariable_current.StageName} )=&quot;Closed Lost&quot;
&amp;&amp;
TEXT({!myVariable_current.Account.Account_Status__c} ) &lt;&gt;  &quot;Active&quot;
&amp;&amp;
NOT({!$Permission.Exclude_from_Validation} )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>([Opportunity].RecordType.DeveloperName = &quot;FP_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;HU_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;DE_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;FI_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;AT_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;SE_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;PY_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;Yogiyo_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;Talabat_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;CZ_Opportunity&quot;)

&amp;&amp;
(
(TEXT([Opportunity].Business_Type__c)=&quot;New Business&quot; 
|| 
TEXT([Opportunity].Business_Type__c)=&quot;Owner Change&quot;
||
TEXT([Opportunity].Business_Type__c)=&quot;Franchise Extension&quot;
|| 
TEXT([Opportunity].Business_Type__c)=&quot;Legal Form Change&quot;)
)
&amp;&amp;
TEXT([Opportunity].StageName )=&quot;Closed Lost&quot;
&amp;&amp;
TEXT([Opportunity].Account.Account_Status__c ) &lt;&gt;  &quot;Active&quot;
&amp;&amp;
NOT($Permission.Exclude_from_Validation )
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_18_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>({!myVariable_old.RecordType.DeveloperName} = &quot;FP_Opportunity&quot;
|| 
{!myVariable_old.RecordType.DeveloperName} = &quot;HU_Opportunity&quot;
|| 
{!myVariable_old.RecordType.DeveloperName} = &quot;DE_Opportunity&quot;
|| 
{!myVariable_old.RecordType.DeveloperName} = &quot;FI_Opportunity&quot;
|| 
{!myVariable_old.RecordType.DeveloperName} = &quot;AT_Opportunity&quot;
|| 
{!myVariable_old.RecordType.DeveloperName} = &quot;SE_Opportunity&quot;
|| 
{!myVariable_old.RecordType.DeveloperName} = &quot;PY_Opportunity&quot;
|| 
{!myVariable_old.RecordType.DeveloperName} = &quot;Yogiyo_Opportunity&quot;
|| 
{!myVariable_old.RecordType.DeveloperName} = &quot;Talabat_Opportunity&quot;
|| 
{!myVariable_old.RecordType.DeveloperName} = &quot;CZ_Opportunity&quot;)

&amp;&amp;
(
(TEXT({!myVariable_old.Business_Type__c})=&quot;New Business&quot; 
|| 
TEXT({!myVariable_old.Business_Type__c})=&quot;Owner Change&quot;
||
TEXT({!myVariable_old.Business_Type__c})=&quot;Franchise Extension&quot;
|| 
TEXT({!myVariable_old.Business_Type__c})=&quot;Legal Form Change&quot;)
)
&amp;&amp;
TEXT({!myVariable_old.StageName} )=&quot;Closed Lost&quot;
&amp;&amp;
TEXT({!myVariable_old.Account.Account_Status__c} ) &lt;&gt;  &quot;Active&quot;
&amp;&amp;
NOT({!$Permission.Exclude_from_Validation} )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>([Opportunity].RecordType.DeveloperName = &quot;FP_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;HU_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;DE_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;FI_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;AT_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;SE_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;PY_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;Yogiyo_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;Talabat_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;CZ_Opportunity&quot;)

&amp;&amp;
TEXT([Opportunity].Business_Type__c)=&quot;Win Back&quot;
&amp;&amp;
TEXT([Opportunity].StageName )=&quot;Closed Lost&quot;
&amp;&amp;
TEXT([Opportunity].Account.Account_Status__c ) &lt;&gt;  &quot;Active&quot;
&amp;&amp;
NOT($Permission.Exclude_from_Validation )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_20</name>
        <dataType>Boolean</dataType>
        <expression>({!myVariable_current.RecordType.DeveloperName} = &quot;FP_Opportunity&quot;
|| 
{!myVariable_current.RecordType.DeveloperName} = &quot;HU_Opportunity&quot;
|| 
{!myVariable_current.RecordType.DeveloperName} = &quot;DE_Opportunity&quot;
|| 
{!myVariable_current.RecordType.DeveloperName} = &quot;FI_Opportunity&quot;
|| 
{!myVariable_current.RecordType.DeveloperName} = &quot;AT_Opportunity&quot;
|| 
{!myVariable_current.RecordType.DeveloperName} = &quot;SE_Opportunity&quot;
|| 
{!myVariable_current.RecordType.DeveloperName} = &quot;PY_Opportunity&quot;
|| 
{!myVariable_current.RecordType.DeveloperName} = &quot;Yogiyo_Opportunity&quot;
|| 
{!myVariable_current.RecordType.DeveloperName} = &quot;Talabat_Opportunity&quot;
|| 
{!myVariable_current.RecordType.DeveloperName} = &quot;CZ_Opportunity&quot;)

&amp;&amp;
TEXT({!myVariable_current.Business_Type__c})=&quot;Win Back&quot;
&amp;&amp;
TEXT({!myVariable_current.StageName} )=&quot;Closed Lost&quot;
&amp;&amp;
TEXT({!myVariable_current.Account.Account_Status__c} ) &lt;&gt;  &quot;Active&quot;
&amp;&amp;
NOT({!$Permission.Exclude_from_Validation} )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>([Opportunity].RecordType.DeveloperName = &quot;FP_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;HU_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;DE_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;FI_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;AT_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;SE_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;PY_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;Yogiyo_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;Talabat_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;CZ_Opportunity&quot;)

&amp;&amp;
TEXT([Opportunity].Business_Type__c)=&quot;Win Back&quot;
&amp;&amp;
TEXT([Opportunity].StageName )=&quot;Closed Lost&quot;
&amp;&amp;
TEXT([Opportunity].Account.Account_Status__c ) &lt;&gt;  &quot;Active&quot;
&amp;&amp;
NOT($Permission.Exclude_from_Validation )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_20_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>({!myVariable_old.RecordType.DeveloperName} = &quot;FP_Opportunity&quot;
|| 
{!myVariable_old.RecordType.DeveloperName} = &quot;HU_Opportunity&quot;
|| 
{!myVariable_old.RecordType.DeveloperName} = &quot;DE_Opportunity&quot;
|| 
{!myVariable_old.RecordType.DeveloperName} = &quot;FI_Opportunity&quot;
|| 
{!myVariable_old.RecordType.DeveloperName} = &quot;AT_Opportunity&quot;
|| 
{!myVariable_old.RecordType.DeveloperName} = &quot;SE_Opportunity&quot;
|| 
{!myVariable_old.RecordType.DeveloperName} = &quot;PY_Opportunity&quot;
|| 
{!myVariable_old.RecordType.DeveloperName} = &quot;Yogiyo_Opportunity&quot;
|| 
{!myVariable_old.RecordType.DeveloperName} = &quot;Talabat_Opportunity&quot;
|| 
{!myVariable_old.RecordType.DeveloperName} = &quot;CZ_Opportunity&quot;)

&amp;&amp;
TEXT({!myVariable_old.Business_Type__c})=&quot;Win Back&quot;
&amp;&amp;
TEXT({!myVariable_old.StageName} )=&quot;Closed Lost&quot;
&amp;&amp;
TEXT({!myVariable_old.Account.Account_Status__c} ) &lt;&gt;  &quot;Active&quot;
&amp;&amp;
NOT({!$Permission.Exclude_from_Validation} )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>(
(TEXT([Opportunity].Business_Type__c)=&quot;New Business&quot;
||
TEXT([Opportunity].Business_Type__c)=&quot;Owner Change&quot;
||
TEXT([Opportunity].Business_Type__c)=&quot;Franchise Extension&quot;
|| 
TEXT([Opportunity].Business_Type__c)=&quot;Win Back&quot;
|| 
TEXT([Opportunity].Business_Type__c)=&quot;Legal Form Change&quot;)
)
&amp;&amp;
TEXT([Opportunity].StageName )=&quot;New&quot;
&amp;&amp;
TEXT([Opportunity].Account.Account_Status__c ) &lt;&gt; &quot;Active&quot;
&amp;&amp;
NOT($Permission.Exclude_from_Validation )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_22</name>
        <dataType>Boolean</dataType>
        <expression>(
(TEXT({!myVariable_current.Business_Type__c})=&quot;New Business&quot;
||
TEXT({!myVariable_current.Business_Type__c})=&quot;Owner Change&quot;
||
TEXT({!myVariable_current.Business_Type__c})=&quot;Franchise Extension&quot;
|| 
TEXT({!myVariable_current.Business_Type__c})=&quot;Win Back&quot;
|| 
TEXT({!myVariable_current.Business_Type__c})=&quot;Legal Form Change&quot;)
)
&amp;&amp;
TEXT({!myVariable_current.StageName} )=&quot;New&quot;
&amp;&amp;
TEXT({!myVariable_current.Account.Account_Status__c} ) &lt;&gt; &quot;Active&quot;
&amp;&amp;
NOT({!$Permission.Exclude_from_Validation} )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>(
(TEXT([Opportunity].Business_Type__c)=&quot;New Business&quot;
||
TEXT([Opportunity].Business_Type__c)=&quot;Owner Change&quot;
||
TEXT([Opportunity].Business_Type__c)=&quot;Franchise Extension&quot;
|| 
TEXT([Opportunity].Business_Type__c)=&quot;Win Back&quot;
|| 
TEXT([Opportunity].Business_Type__c)=&quot;Legal Form Change&quot;)
)
&amp;&amp;
TEXT([Opportunity].StageName )=&quot;New&quot;
&amp;&amp;
TEXT([Opportunity].Account.Account_Status__c ) &lt;&gt; &quot;Active&quot;
&amp;&amp;
NOT($Permission.Exclude_from_Validation )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_22_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>(
(TEXT({!myVariable_old.Business_Type__c})=&quot;New Business&quot;
||
TEXT({!myVariable_old.Business_Type__c})=&quot;Owner Change&quot;
||
TEXT({!myVariable_old.Business_Type__c})=&quot;Franchise Extension&quot;
|| 
TEXT({!myVariable_old.Business_Type__c})=&quot;Win Back&quot;
|| 
TEXT({!myVariable_old.Business_Type__c})=&quot;Legal Form Change&quot;)
)
&amp;&amp;
TEXT({!myVariable_old.StageName} )=&quot;New&quot;
&amp;&amp;
TEXT({!myVariable_old.Account.Account_Status__c} ) &lt;&gt; &quot;Active&quot;
&amp;&amp;
NOT({!$Permission.Exclude_from_Validation} )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>([Opportunity].RecordType.DeveloperName = &quot;FP_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;HU_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;DE_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;FI_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;AT_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;SE_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;PY_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;Yogiyo_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;Talabat_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;CZ_Opportunity&quot;)

&amp;&amp;
(
(TEXT([Opportunity].Business_Type__c)=&quot;New Business&quot;  
|| 
TEXT([Opportunity].Business_Type__c)=&quot;Owner Change&quot;
||
TEXT([Opportunity].Business_Type__c)=&quot;Franchise Extension&quot;
|| 
TEXT([Opportunity].Business_Type__c)=&quot;Win Back&quot;
|| 
TEXT([Opportunity].Business_Type__c)=&quot;Legal Form Change&quot;)
)
&amp;&amp;
(TEXT([Opportunity].StageName )=&quot;Open&quot;
|| 
TEXT([Opportunity].StageName )=&quot;Verbal Agreement&quot;
|| 
TEXT([Opportunity].StageName )=&quot;Please Check&quot;
|| 
TEXT([Opportunity].StageName )=&quot;Contact Established&quot;)
&amp;&amp;
TEXT([Opportunity].Account.Account_Status__c ) &lt;&gt;  &quot;Active&quot;
&amp;&amp;
NOT($Permission.Exclude_from_Validation )







</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>({!myVariable_current.RecordType.DeveloperName} = &quot;FP_Opportunity&quot;
|| 
{!myVariable_current.RecordType.DeveloperName} = &quot;HU_Opportunity&quot;
|| 
{!myVariable_current.RecordType.DeveloperName} = &quot;DE_Opportunity&quot;
|| 
{!myVariable_current.RecordType.DeveloperName} = &quot;FI_Opportunity&quot;
|| 
{!myVariable_current.RecordType.DeveloperName} = &quot;AT_Opportunity&quot;
|| 
{!myVariable_current.RecordType.DeveloperName} = &quot;SE_Opportunity&quot;
|| 
{!myVariable_current.RecordType.DeveloperName} = &quot;PY_Opportunity&quot;
|| 
{!myVariable_current.RecordType.DeveloperName} = &quot;Yogiyo_Opportunity&quot;
|| 
{!myVariable_current.RecordType.DeveloperName} = &quot;Talabat_Opportunity&quot;
|| 
{!myVariable_current.RecordType.DeveloperName} = &quot;CZ_Opportunity&quot;)

&amp;&amp;
(
(TEXT({!myVariable_current.Business_Type__c})=&quot;New Business&quot;  
|| 
TEXT({!myVariable_current.Business_Type__c})=&quot;Owner Change&quot;
||
TEXT({!myVariable_current.Business_Type__c})=&quot;Franchise Extension&quot;
|| 
TEXT({!myVariable_current.Business_Type__c})=&quot;Win Back&quot;
|| 
TEXT({!myVariable_current.Business_Type__c})=&quot;Legal Form Change&quot;)
)
&amp;&amp;
(TEXT({!myVariable_current.StageName} )=&quot;Open&quot;
|| 
TEXT({!myVariable_current.StageName} )=&quot;Verbal Agreement&quot;
|| 
TEXT({!myVariable_current.StageName} )=&quot;Please Check&quot;
|| 
TEXT({!myVariable_current.StageName} )=&quot;Contact Established&quot;)
&amp;&amp;
TEXT({!myVariable_current.Account.Account_Status__c} ) &lt;&gt;  &quot;Active&quot;
&amp;&amp;
NOT({!$Permission.Exclude_from_Validation} )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>([Opportunity].RecordType.DeveloperName = &quot;FP_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;HU_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;DE_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;FI_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;AT_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;SE_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;PY_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;Yogiyo_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;Talabat_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;CZ_Opportunity&quot;)

&amp;&amp;
(
(TEXT([Opportunity].Business_Type__c)=&quot;New Business&quot;  
|| 
TEXT([Opportunity].Business_Type__c)=&quot;Owner Change&quot;
||
TEXT([Opportunity].Business_Type__c)=&quot;Franchise Extension&quot;
|| 
TEXT([Opportunity].Business_Type__c)=&quot;Win Back&quot;
|| 
TEXT([Opportunity].Business_Type__c)=&quot;Legal Form Change&quot;)
)
&amp;&amp;
(TEXT([Opportunity].StageName )=&quot;Open&quot;
|| 
TEXT([Opportunity].StageName )=&quot;Verbal Agreement&quot;
|| 
TEXT([Opportunity].StageName )=&quot;Please Check&quot;
|| 
TEXT([Opportunity].StageName )=&quot;Contact Established&quot;)
&amp;&amp;
TEXT([Opportunity].Account.Account_Status__c ) &lt;&gt;  &quot;Active&quot;
&amp;&amp;
NOT($Permission.Exclude_from_Validation )







</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>({!myVariable_old.RecordType.DeveloperName} = &quot;FP_Opportunity&quot;
|| 
{!myVariable_old.RecordType.DeveloperName} = &quot;HU_Opportunity&quot;
|| 
{!myVariable_old.RecordType.DeveloperName} = &quot;DE_Opportunity&quot;
|| 
{!myVariable_old.RecordType.DeveloperName} = &quot;FI_Opportunity&quot;
|| 
{!myVariable_old.RecordType.DeveloperName} = &quot;AT_Opportunity&quot;
|| 
{!myVariable_old.RecordType.DeveloperName} = &quot;SE_Opportunity&quot;
|| 
{!myVariable_old.RecordType.DeveloperName} = &quot;PY_Opportunity&quot;
|| 
{!myVariable_old.RecordType.DeveloperName} = &quot;Yogiyo_Opportunity&quot;
|| 
{!myVariable_old.RecordType.DeveloperName} = &quot;Talabat_Opportunity&quot;
|| 
{!myVariable_old.RecordType.DeveloperName} = &quot;CZ_Opportunity&quot;)

&amp;&amp;
(
(TEXT({!myVariable_old.Business_Type__c})=&quot;New Business&quot;  
|| 
TEXT({!myVariable_old.Business_Type__c})=&quot;Owner Change&quot;
||
TEXT({!myVariable_old.Business_Type__c})=&quot;Franchise Extension&quot;
|| 
TEXT({!myVariable_old.Business_Type__c})=&quot;Win Back&quot;
|| 
TEXT({!myVariable_old.Business_Type__c})=&quot;Legal Form Change&quot;)
)
&amp;&amp;
(TEXT({!myVariable_old.StageName} )=&quot;Open&quot;
|| 
TEXT({!myVariable_old.StageName} )=&quot;Verbal Agreement&quot;
|| 
TEXT({!myVariable_old.StageName} )=&quot;Please Check&quot;
|| 
TEXT({!myVariable_old.StageName} )=&quot;Contact Established&quot;)
&amp;&amp;
TEXT({!myVariable_old.Account.Account_Status__c} ) &lt;&gt;  &quot;Active&quot;
&amp;&amp;
NOT({!$Permission.Exclude_from_Validation} )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>([Opportunity].RecordType.DeveloperName = &quot;FP_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;HU_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;DE_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;FI_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;AT_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;SE_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;PY_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;Yogiyo_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;Talabat_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;CZ_Opportunity&quot;)
&amp;&amp;
(
 (TEXT([Opportunity].Business_Type__c)=&quot;New Business&quot;  
|| 
TEXT([Opportunity].Business_Type__c)=&quot;Franchise Extension&quot;
||
TEXT([Opportunity].Business_Type__c)=&quot;Owner Change&quot;
|| 
TEXT([Opportunity].Business_Type__c)=&quot;Win Back&quot;
|| 
TEXT([Opportunity].Business_Type__c)=&quot;Legal Form Change&quot;)
)
&amp;&amp;
(TEXT([Opportunity].StageName )=&quot;Quote Sent&quot;
|| 
TEXT([Opportunity].StageName )=&quot;Feedback Received&quot;
|| 
TEXT([Opportunity].StageName )=&quot;Quote Sent&quot;)
&amp;&amp;
TEXT([Opportunity].Account.Account_Status__c ) &lt;&gt;  &quot;Active&quot;
&amp;&amp;
NOT($Permission.Exclude_from_Validation )





</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_6</name>
        <dataType>Boolean</dataType>
        <expression>({!myVariable_current.RecordType.DeveloperName} = &quot;FP_Opportunity&quot;
|| 
{!myVariable_current.RecordType.DeveloperName} = &quot;HU_Opportunity&quot;
|| 
{!myVariable_current.RecordType.DeveloperName} = &quot;DE_Opportunity&quot;
|| 
{!myVariable_current.RecordType.DeveloperName} = &quot;FI_Opportunity&quot;
|| 
{!myVariable_current.RecordType.DeveloperName} = &quot;AT_Opportunity&quot;
|| 
{!myVariable_current.RecordType.DeveloperName} = &quot;SE_Opportunity&quot;
|| 
{!myVariable_current.RecordType.DeveloperName} = &quot;PY_Opportunity&quot;
|| 
{!myVariable_current.RecordType.DeveloperName} = &quot;Yogiyo_Opportunity&quot;
|| 
{!myVariable_current.RecordType.DeveloperName} = &quot;Talabat_Opportunity&quot;
|| 
{!myVariable_current.RecordType.DeveloperName} = &quot;CZ_Opportunity&quot;)
&amp;&amp;
(
 (TEXT({!myVariable_current.Business_Type__c})=&quot;New Business&quot;  
|| 
TEXT({!myVariable_current.Business_Type__c})=&quot;Franchise Extension&quot;
||
TEXT({!myVariable_current.Business_Type__c})=&quot;Owner Change&quot;
|| 
TEXT({!myVariable_current.Business_Type__c})=&quot;Win Back&quot;
|| 
TEXT({!myVariable_current.Business_Type__c})=&quot;Legal Form Change&quot;)
)
&amp;&amp;
(TEXT({!myVariable_current.StageName} )=&quot;Quote Sent&quot;
|| 
TEXT({!myVariable_current.StageName} )=&quot;Feedback Received&quot;
|| 
TEXT({!myVariable_current.StageName} )=&quot;Quote Sent&quot;)
&amp;&amp;
TEXT({!myVariable_current.Account.Account_Status__c} ) &lt;&gt;  &quot;Active&quot;
&amp;&amp;
NOT({!$Permission.Exclude_from_Validation} )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>([Opportunity].RecordType.DeveloperName = &quot;FP_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;HU_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;DE_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;FI_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;AT_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;SE_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;PY_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;Yogiyo_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;Talabat_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;CZ_Opportunity&quot;)
&amp;&amp;
(
 (TEXT([Opportunity].Business_Type__c)=&quot;New Business&quot;  
|| 
TEXT([Opportunity].Business_Type__c)=&quot;Franchise Extension&quot;
||
TEXT([Opportunity].Business_Type__c)=&quot;Owner Change&quot;
|| 
TEXT([Opportunity].Business_Type__c)=&quot;Win Back&quot;
|| 
TEXT([Opportunity].Business_Type__c)=&quot;Legal Form Change&quot;)
)
&amp;&amp;
(TEXT([Opportunity].StageName )=&quot;Quote Sent&quot;
|| 
TEXT([Opportunity].StageName )=&quot;Feedback Received&quot;
|| 
TEXT([Opportunity].StageName )=&quot;Quote Sent&quot;)
&amp;&amp;
TEXT([Opportunity].Account.Account_Status__c ) &lt;&gt;  &quot;Active&quot;
&amp;&amp;
NOT($Permission.Exclude_from_Validation )





</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_6_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>({!myVariable_old.RecordType.DeveloperName} = &quot;FP_Opportunity&quot;
|| 
{!myVariable_old.RecordType.DeveloperName} = &quot;HU_Opportunity&quot;
|| 
{!myVariable_old.RecordType.DeveloperName} = &quot;DE_Opportunity&quot;
|| 
{!myVariable_old.RecordType.DeveloperName} = &quot;FI_Opportunity&quot;
|| 
{!myVariable_old.RecordType.DeveloperName} = &quot;AT_Opportunity&quot;
|| 
{!myVariable_old.RecordType.DeveloperName} = &quot;SE_Opportunity&quot;
|| 
{!myVariable_old.RecordType.DeveloperName} = &quot;PY_Opportunity&quot;
|| 
{!myVariable_old.RecordType.DeveloperName} = &quot;Yogiyo_Opportunity&quot;
|| 
{!myVariable_old.RecordType.DeveloperName} = &quot;Talabat_Opportunity&quot;
|| 
{!myVariable_old.RecordType.DeveloperName} = &quot;CZ_Opportunity&quot;)
&amp;&amp;
(
 (TEXT({!myVariable_old.Business_Type__c})=&quot;New Business&quot;  
|| 
TEXT({!myVariable_old.Business_Type__c})=&quot;Franchise Extension&quot;
||
TEXT({!myVariable_old.Business_Type__c})=&quot;Owner Change&quot;
|| 
TEXT({!myVariable_old.Business_Type__c})=&quot;Win Back&quot;
|| 
TEXT({!myVariable_old.Business_Type__c})=&quot;Legal Form Change&quot;)
)
&amp;&amp;
(TEXT({!myVariable_old.StageName} )=&quot;Quote Sent&quot;
|| 
TEXT({!myVariable_old.StageName} )=&quot;Feedback Received&quot;
|| 
TEXT({!myVariable_old.StageName} )=&quot;Quote Sent&quot;)
&amp;&amp;
TEXT({!myVariable_old.Account.Account_Status__c} ) &lt;&gt;  &quot;Active&quot;
&amp;&amp;
NOT({!$Permission.Exclude_from_Validation} )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>([Opportunity].RecordType.DeveloperName = &quot;FP_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;HU_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;DE_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;FI_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;AT_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;SE_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;PY_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;Yogiyo_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;Talabat_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;CZ_Opportunity&quot;)
&amp;&amp;
(
(TEXT([Opportunity].Business_Type__c)=&quot;New Business&quot;  
|| 
TEXT([Opportunity].Business_Type__c)=&quot;Owner Change&quot;
||
TEXT([Opportunity].Business_Type__c)=&quot;Franchise Extension&quot;
|| 
TEXT([Opportunity].Business_Type__c)=&quot;Win Back&quot;
|| 
TEXT([Opportunity].Business_Type__c)=&quot;Legal Form Change&quot;)
)
&amp;&amp;
TEXT([Opportunity].StageName )=&quot;Quality Check Request&quot;
&amp;&amp;
TEXT([Opportunity].Account.Account_Status__c ) &lt;&gt;  &quot;Active&quot;
&amp;&amp;
NOT($Permission.Exclude_from_Validation )
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_9</name>
        <dataType>Boolean</dataType>
        <expression>({!myVariable_current.RecordType.DeveloperName} = &quot;FP_Opportunity&quot;
|| 
{!myVariable_current.RecordType.DeveloperName} = &quot;HU_Opportunity&quot;
|| 
{!myVariable_current.RecordType.DeveloperName} = &quot;DE_Opportunity&quot;
|| 
{!myVariable_current.RecordType.DeveloperName} = &quot;FI_Opportunity&quot;
|| 
{!myVariable_current.RecordType.DeveloperName} = &quot;AT_Opportunity&quot;
|| 
{!myVariable_current.RecordType.DeveloperName} = &quot;SE_Opportunity&quot;
|| 
{!myVariable_current.RecordType.DeveloperName} = &quot;PY_Opportunity&quot;
|| 
{!myVariable_current.RecordType.DeveloperName} = &quot;Yogiyo_Opportunity&quot;
|| 
{!myVariable_current.RecordType.DeveloperName} = &quot;Talabat_Opportunity&quot;
|| 
{!myVariable_current.RecordType.DeveloperName} = &quot;CZ_Opportunity&quot;)
&amp;&amp;
(
(TEXT({!myVariable_current.Business_Type__c})=&quot;New Business&quot;  
|| 
TEXT({!myVariable_current.Business_Type__c})=&quot;Owner Change&quot;
||
TEXT({!myVariable_current.Business_Type__c})=&quot;Franchise Extension&quot;
|| 
TEXT({!myVariable_current.Business_Type__c})=&quot;Win Back&quot;
|| 
TEXT({!myVariable_current.Business_Type__c})=&quot;Legal Form Change&quot;)
)
&amp;&amp;
TEXT({!myVariable_current.StageName} )=&quot;Quality Check Request&quot;
&amp;&amp;
TEXT({!myVariable_current.Account.Account_Status__c} ) &lt;&gt;  &quot;Active&quot;
&amp;&amp;
NOT({!$Permission.Exclude_from_Validation} )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>([Opportunity].RecordType.DeveloperName = &quot;FP_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;HU_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;DE_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;FI_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;AT_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;SE_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;PY_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;Yogiyo_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;Talabat_Opportunity&quot;
|| 
[Opportunity].RecordType.DeveloperName = &quot;CZ_Opportunity&quot;)
&amp;&amp;
(
(TEXT([Opportunity].Business_Type__c)=&quot;New Business&quot;  
|| 
TEXT([Opportunity].Business_Type__c)=&quot;Owner Change&quot;
||
TEXT([Opportunity].Business_Type__c)=&quot;Franchise Extension&quot;
|| 
TEXT([Opportunity].Business_Type__c)=&quot;Win Back&quot;
|| 
TEXT([Opportunity].Business_Type__c)=&quot;Legal Form Change&quot;)
)
&amp;&amp;
TEXT([Opportunity].StageName )=&quot;Quality Check Request&quot;
&amp;&amp;
TEXT([Opportunity].Account.Account_Status__c ) &lt;&gt;  &quot;Active&quot;
&amp;&amp;
NOT($Permission.Exclude_from_Validation )
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_9_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>({!myVariable_old.RecordType.DeveloperName} = &quot;FP_Opportunity&quot;
|| 
{!myVariable_old.RecordType.DeveloperName} = &quot;HU_Opportunity&quot;
|| 
{!myVariable_old.RecordType.DeveloperName} = &quot;DE_Opportunity&quot;
|| 
{!myVariable_old.RecordType.DeveloperName} = &quot;FI_Opportunity&quot;
|| 
{!myVariable_old.RecordType.DeveloperName} = &quot;AT_Opportunity&quot;
|| 
{!myVariable_old.RecordType.DeveloperName} = &quot;SE_Opportunity&quot;
|| 
{!myVariable_old.RecordType.DeveloperName} = &quot;PY_Opportunity&quot;
|| 
{!myVariable_old.RecordType.DeveloperName} = &quot;Yogiyo_Opportunity&quot;
|| 
{!myVariable_old.RecordType.DeveloperName} = &quot;Talabat_Opportunity&quot;
|| 
{!myVariable_old.RecordType.DeveloperName} = &quot;CZ_Opportunity&quot;)
&amp;&amp;
(
(TEXT({!myVariable_old.Business_Type__c})=&quot;New Business&quot;  
|| 
TEXT({!myVariable_old.Business_Type__c})=&quot;Owner Change&quot;
||
TEXT({!myVariable_old.Business_Type__c})=&quot;Franchise Extension&quot;
|| 
TEXT({!myVariable_old.Business_Type__c})=&quot;Win Back&quot;
|| 
TEXT({!myVariable_old.Business_Type__c})=&quot;Legal Form Change&quot;)
)
&amp;&amp;
TEXT({!myVariable_old.StageName} )=&quot;Quality Check Request&quot;
&amp;&amp;
TEXT({!myVariable_old.Account.Account_Status__c} ) &lt;&gt;  &quot;Active&quot;
&amp;&amp;
NOT({!$Permission.Exclude_from_Validation} )</expression>
    </formulas>
    <interviewLabel>Global_Account_Status_Opportunity_Stage-21_InterviewLabel</interviewLabel>
    <label>Global - Account Status = Opportunity Stage</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Opportunity</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Opportunity].Account ID</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_12_A1</name>
        <label>Account Status = Menu processing</label>
        <locationX>1200</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Account Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Account_Status__c</field>
            <value>
                <stringValue>Menu processing</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Opportunity].Account ID</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_14_A1</name>
        <label>Account Status = Onboarding</label>
        <locationX>1400</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Account Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Account_Status__c</field>
            <value>
                <stringValue>Onboarding</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Opportunity].Account ID</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_16_A1</name>
        <label>Account Status = Active</label>
        <locationX>1600</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Account Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Account_Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Opportunity].Account ID</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_18_A1</name>
        <label>Account Status</label>
        <locationX>1800</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Account Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Account_Status__c</field>
            <value>
                <stringValue>Lost</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Status Reason</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>Status_Reason__c</field>
            <value>
                <elementReference>myVariable_current.Lost_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>criteria</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Opportunity].Cases__r</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Update Case Onboarding / Menu Comments</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myDecision2</targetReference>
        </connector>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>inputDataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Closed</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>operatorDataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>IsClosed</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Onboarding / Menu Comments</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>Onboarding_Menu_Comments__c</field>
            <value>
                <elementReference>myVariable_current.Onboarding_Menu_Comments__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Opportunity].Account ID</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_20_A1</name>
        <label>Account Status</label>
        <locationX>2000</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Account Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Account_Status__c</field>
            <value>
                <stringValue>Win Back failed</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Opportunity].Account ID</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_22_A1</name>
        <label>Account Status</label>
        <locationX>2200</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Account Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Account_Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Status Reason</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Status_Reason__c</field>
            <value>
                <elementReference>formula_23_myRule_22_A1_0966946434</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Opportunity].Account ID</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>Account Status = Negotiation</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Account Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Account_Status__c</field>
            <value>
                <stringValue>Negotiation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Status Reason</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Status_Reason__c</field>
            <value>
                <elementReference>formula_4_myRule_3_A1_5045712254</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Opportunity].Account ID</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_6_A1</name>
        <label>Account Status = Collecting Documents</label>
        <locationX>600</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Account Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Account_Status__c</field>
            <value>
                <stringValue>Collecting Documents</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Status Reason</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Status_Reason__c</field>
            <value>
                <elementReference>formula_7_myRule_6_A1_4753246791</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Opportunity].Account ID</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_9_A1</name>
        <label>Account Status = Quality Check</label>
        <locationX>900</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Account Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Account_Status__c</field>
            <value>
                <stringValue>Quality Check</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Status Reason</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Status_Reason__c</field>
            <value>
                <elementReference>formula_10_myRule_9_A1_2790064572</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <startElementReference>myDecision</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
