force-app/main/default/flows/GLOBAL_Child_Case_Status_Loop.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>DoNothing</name>
        <label>Do Nothing</label>
        <locationX>460</locationX>
        <locationY>266</locationY>
        <assignmentItems>
            <assignToReference>vChildCaseCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vChildCaseCounter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_all_Cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IncrementCounter</name>
        <label>Increment Counter</label>
        <locationX>462</locationX>
        <locationY>16</locationY>
        <assignmentItems>
            <assignToReference>vChildCaseCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_all_Cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>test</name>
        <label>test</label>
        <locationX>36</locationX>
        <locationY>17</locationY>
        <assignmentItems>
            <assignToReference>vParentID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>5007E0000075O6U</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GBL_Bring_All_Child_Cases</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_they_all_resolved</name>
        <label>Are they all resolved?</label>
        <locationX>210</locationX>
        <locationY>385</locationY>
        <defaultConnector>
            <targetReference>Update_Parent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vChildCaseCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Parent_Status</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Case_Resolved</name>
        <label>Is Case Resolved?</label>
        <locationX>459</locationX>
        <locationY>146</locationY>
        <defaultConnector>
            <targetReference>IncrementCounter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>vEachCase.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resolved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vEachCase.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DoNothing</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>GLOBAL - Child Case Status Loop {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GLOBAL - Child Case Status Loop</label>
    <loops>
        <name>Loop_through_all_Cases</name>
        <label>Loop through all Cases</label>
        <locationX>210</locationX>
        <locationY>150</locationY>
        <assignNextValueToReference>vEachCase</assignNextValueToReference>
        <collectionReference>vRelatedCases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Case_Resolved</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Are_they_all_resolved</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GBL_Bring_All_Child_Cases</name>
        <label>Bring All Child Cases</label>
        <locationX>212</locationX>
        <locationY>16</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_all_Cases</targetReference>
        </connector>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vParentID</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>vRelatedCases</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>IsClosed</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Parent</name>
        <label>Update Parent</label>
        <locationX>403</locationX>
        <locationY>383</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vParentID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Open_Children_Cases_Counter__c</field>
            <value>
                <elementReference>vChildCaseCounter</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Parent_Status</name>
        <label>Update Parent Status</label>
        <locationX>212</locationX>
        <locationY>508</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vParentID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Open_Children_Cases_Counter__c</field>
            <value>
                <elementReference>vChildCaseCounter</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New Answer</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>GBL_Bring_All_Child_Cases</startElementReference>
    <status>Active</status>
    <variables>
        <name>vChildCaseCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vEachCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>vParentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vRelatedCases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
