force-app/main/default/flows/ME_CC_Autoresponse.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>OtlobCC</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_11_A1</name>
        <label>OtlobCC</label>
        <locationX>1100</locationX>
        <locationY>200</locationY>
        <actionName>Case.OtlobCC</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Talabat_TGOCare</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>TalabatTGOCare</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>Case.Talabat_TGOCare</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>TalabatRestaurantCare</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>TalabatRestaurantCare</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <actionName>Case.TalabatRestaurantCare</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>TalabatDubaiInquiry</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_5_A1</name>
        <label>TalabatDubaiInquiry</label>
        <locationX>500</locationX>
        <locationY>200</locationY>
        <actionName>Case.TalabatDubaiInquiry</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>TalabatCC</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_7_A1</name>
        <label>TalabatCC</label>
        <locationX>700</locationX>
        <locationY>200</locationY>
        <actionName>Case.TalabatCC</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>OtlobRestaurantCare</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_9_A1</name>
        <label>OtlobRestaurantCare</label>
        <locationX>900</locationX>
        <locationY>200</locationY>
        <actionName>Case.OtlobRestaurantCare</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>TalabatTGOCare</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision10</name>
        <label>myDecision10</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_11</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_11_A1</targetReference>
            </connector>
            <label>OtlobCC</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>TalabatRestaurantCare</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision4</name>
        <label>myDecision4</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_A1</targetReference>
            </connector>
            <label>TalabatDubalinquiry</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision6</name>
        <label>myDecision6</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision8</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_7</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_A1</targetReference>
            </connector>
            <label>TalabatCC</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision8</name>
        <label>myDecision8</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision10</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_9</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_9_A1</targetReference>
            </connector>
            <label>OtlobRestaurantCare</label>
        </rules>
    </decisions>
    <description>SCC-409 Process builder to send auto response emails for Inbound cases</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
      ISCHANGED ([Case].EmailToAddress__c),
      NOT ISBLANK([Case].EmailToAddress__c),
      [Case].RecordType.DeveloperName == &apos;Talabat_Inbound_Case&apos;,
      TEXT([Case].Origin) = &apos;Email&apos;,
       [Case].Owner:Queue.DeveloperName = &apos;Talabat_cases_Investigation_Low&apos;,
       CONTAINS( [Case].EmailToAddress__c,&apos;talabat&apos;)
)




		
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>AND(
      ISCHANGED ({!myVariable_current.EmailToAddress__c}),
      NOT ISBLANK({!myVariable_current.EmailToAddress__c}),
      {!myVariable_current.RecordType.DeveloperName} == &apos;Talabat_Inbound_Case&apos;,
      TEXT({!myVariable_current.Origin}) = &apos;Email&apos;,
       {!myVariable_current.Owner:Queue.DeveloperName} = &apos;Talabat_cases_Investigation_Low&apos;,
       CONTAINS( {!myVariable_current.EmailToAddress__c},&apos;talabat&apos;)
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
      ISCHANGED ([Case].EmailToAddress__c),
      NOT ISBLANK([Case].EmailToAddress__c),
      [Case].RecordType.DeveloperName == &apos;Talabat_Inbound_Case&apos;,
      TEXT([Case].Origin) = &apos;Email&apos;,
       [Case].Owner:Queue.DeveloperName = &apos;Talabat_cases_customer_care_mailbox&apos;,
       [Case].EmailToAddress__c = &apos;customercare@otlob.com&apos;
    
) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_11</name>
        <dataType>Boolean</dataType>
        <expression>AND(
      ISCHANGED ({!myVariable_current.EmailToAddress__c}),
      NOT ISBLANK({!myVariable_current.EmailToAddress__c}),
      {!myVariable_current.RecordType.DeveloperName} == &apos;Talabat_Inbound_Case&apos;,
      TEXT({!myVariable_current.Origin}) = &apos;Email&apos;,
       {!myVariable_current.Owner:Queue.DeveloperName} = &apos;Talabat_cases_customer_care_mailbox&apos;,
       {!myVariable_current.EmailToAddress__c} = &apos;customercare@otlob.com&apos;
    
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
      ISCHANGED ([Case].EmailToAddress__c),
      NOT ISBLANK([Case].EmailToAddress__c),
      [Case].RecordType.DeveloperName == &apos;Talabat_Inbound_Case&apos;,
      TEXT([Case].Origin) = &apos;Email&apos;,
       [Case].Owner:Queue.DeveloperName = &apos;Talabat_cases_Restaurant_Support&apos;,
       CONTAINS( [Case].EmailToAddress__c,&apos;talabat&apos;)
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>AND(
      ISCHANGED ({!myVariable_current.EmailToAddress__c}),
      NOT ISBLANK({!myVariable_current.EmailToAddress__c}),
      {!myVariable_current.RecordType.DeveloperName} == &apos;Talabat_Inbound_Case&apos;,
      TEXT({!myVariable_current.Origin}) = &apos;Email&apos;,
       {!myVariable_current.Owner:Queue.DeveloperName} = &apos;Talabat_cases_Restaurant_Support&apos;,
       CONTAINS( {!myVariable_current.EmailToAddress__c},&apos;talabat&apos;)
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
      ISCHANGED ([Case].EmailToAddress__c),
      NOT ISBLANK([Case].EmailToAddress__c),
      [Case].RecordType.DeveloperName == &apos;Talabat_Inbound_Case&apos;,
      TEXT([Case].Origin) = &apos;Email&apos;,
       [Case].Owner:Queue.DeveloperName = &apos;Talabat_cases_Investigation_High&apos;,
       CONTAINS( [Case].EmailToAddress__c,&apos;talabat&apos;)
)
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_5</name>
        <dataType>Boolean</dataType>
        <expression>AND(
      ISCHANGED ({!myVariable_current.EmailToAddress__c}),
      NOT ISBLANK({!myVariable_current.EmailToAddress__c}),
      {!myVariable_current.RecordType.DeveloperName} == &apos;Talabat_Inbound_Case&apos;,
      TEXT({!myVariable_current.Origin}) = &apos;Email&apos;,
       {!myVariable_current.Owner:Queue.DeveloperName} = &apos;Talabat_cases_Investigation_High&apos;,
       CONTAINS( {!myVariable_current.EmailToAddress__c},&apos;talabat&apos;)
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
      ISCHANGED ([Case].EmailToAddress__c),
      NOT ISBLANK([Case].EmailToAddress__c),
      [Case].RecordType.DeveloperName == &apos;Talabat_Inbound_Case&apos;,
      TEXT([Case].Origin) = &apos;Email&apos;,
       [Case].Owner:Queue.DeveloperName = &apos;Talabat_cases_customer_care_mailbox&apos;,
       TEXT([Case].Priority) = &apos;Medium&apos;,
       CONTAINS( [Case].EmailToAddress__c,&apos;talabat&apos;)
) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_7</name>
        <dataType>Boolean</dataType>
        <expression>AND(
      ISCHANGED ({!myVariable_current.EmailToAddress__c}),
      NOT ISBLANK({!myVariable_current.EmailToAddress__c}),
      {!myVariable_current.RecordType.DeveloperName} == &apos;Talabat_Inbound_Case&apos;,
      TEXT({!myVariable_current.Origin}) = &apos;Email&apos;,
       {!myVariable_current.Owner:Queue.DeveloperName} = &apos;Talabat_cases_customer_care_mailbox&apos;,
       TEXT({!myVariable_current.Priority}) = &apos;Medium&apos;,
       CONTAINS( {!myVariable_current.EmailToAddress__c},&apos;talabat&apos;)
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
      ISCHANGED ([Case].EmailToAddress__c),
      NOT ISBLANK([Case].EmailToAddress__c),
      [Case].RecordType.DeveloperName == &apos;Talabat_Inbound_Case&apos;,
      TEXT([Case].Origin) = &apos;Email&apos;,
       [Case].Owner:Queue.DeveloperName = &apos;Talabat_cases_Restaurant_Support&apos;,
       CONTAINS( [Case].EmailToAddress__c,&apos;otlob.com&apos;)
    
) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_9</name>
        <dataType>Boolean</dataType>
        <expression>AND(
      ISCHANGED ({!myVariable_current.EmailToAddress__c}),
      NOT ISBLANK({!myVariable_current.EmailToAddress__c}),
      {!myVariable_current.RecordType.DeveloperName} == &apos;Talabat_Inbound_Case&apos;,
      TEXT({!myVariable_current.Origin}) = &apos;Email&apos;,
       {!myVariable_current.Owner:Queue.DeveloperName} = &apos;Talabat_cases_Restaurant_Support&apos;,
       CONTAINS( {!myVariable_current.EmailToAddress__c},&apos;otlob.com&apos;)
    
)</expression>
    </formulas>
    <interviewLabel>ME_CC_Autoresponse-2_InterviewLabel</interviewLabel>
    <label>ME - CC Autoresponse</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Case</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <startElementReference>myDecision</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
