force-app/main/default/flows/Menu_Change_Update_Emails.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>ActionCallType</name>
            <value>
                <stringValue>flow</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>flowSelection</name>
            <value>
                <stringValue>Menu Change: Menu Change Update Emails</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Standard Flow</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>Menu_Change_Menu_Change_Can_t_be_typed_Due_to_error</actionName>
        <actionType>flow</actionType>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>SObject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>PrimaryCaseVar</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>SObject</stringValue>
                </value>
            </processMetadataValues>
            <name>PrimaryCaseVar</name>
            <value>
                <elementReference>myVariable_current</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_pmetdec</targetReference>
            </connector>
            <label>Menu Change Restaurant</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_1_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>100</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_1_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_1_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_1_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <description>one flow, one check</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>OR(
AND(
[Case].RecordType.Name = &quot;FP Entry Case&quot; ,ISPICKVAL([Case].Type , &quot;Menu Change&quot;), ISPICKVAL([Case].Status , &quot;Closed&quot;),
NOT(ISNEW()),
NOT(ISBLANK([Case].ContactId )), 
NOT(ISBLANK([Case].Contact.Email )),
NOT($Permission.Exclude_Migration_User_from_Validation )
),
AND(
[Case].RecordType.Name = &quot;FP Entry Case&quot; ,ISPICKVAL([Case].Type , &quot;Menu Change&quot;), 
ISNEW(), 
NOT(ISBLANK([Case].ContactId )), 
NOT(ISBLANK([Case].Contact.Email )),
NOT($Permission.Exclude_Migration_User_from_Validation )
)
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>OR(
AND(
{!myVariable_current.RecordType.Name} = &quot;FP Entry Case&quot; ,ISPICKVAL({!myVariable_current.Type} , &quot;Menu Change&quot;), ISPICKVAL({!myVariable_current.Status} , &quot;Closed&quot;),
NOT(ISNEW()),
NOT(ISBLANK({!myVariable_current.ContactId} )), 
NOT(ISBLANK({!myVariable_current.Contact.Email} )),
NOT({!$Permission.Exclude_Migration_User_from_Validation} )
),
AND(
{!myVariable_current.RecordType.Name} = &quot;FP Entry Case&quot; ,ISPICKVAL({!myVariable_current.Type} , &quot;Menu Change&quot;), 
ISNEW(), 
NOT(ISBLANK({!myVariable_current.ContactId} )), 
NOT(ISBLANK({!myVariable_current.Contact.Email} )),
NOT({!$Permission.Exclude_Migration_User_from_Validation} )
)
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>OR(
AND(
[Case].RecordType.Name = &quot;FP Entry Case&quot; ,ISPICKVAL([Case].Type , &quot;Menu Change&quot;), ISPICKVAL([Case].Status , &quot;Closed&quot;),
NOT(ISNEW()),
NOT(ISBLANK([Case].ContactId )), 
NOT(ISBLANK([Case].Contact.Email )),
NOT($Permission.Exclude_Migration_User_from_Validation )
),
AND(
[Case].RecordType.Name = &quot;FP Entry Case&quot; ,ISPICKVAL([Case].Type , &quot;Menu Change&quot;), 
ISNEW(), 
NOT(ISBLANK([Case].ContactId )), 
NOT(ISBLANK([Case].Contact.Email )),
NOT($Permission.Exclude_Migration_User_from_Validation )
)
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>OR(
AND(
{!myVariable_old.RecordType.Name} = &quot;FP Entry Case&quot; ,ISPICKVAL({!myVariable_old.Type} , &quot;Menu Change&quot;), ISPICKVAL({!myVariable_old.Status} , &quot;Closed&quot;),
NOT(ISNEW()),
NOT(ISBLANK({!myVariable_old.ContactId} )), 
NOT(ISBLANK({!myVariable_old.Contact.Email} )),
NOT({!$Permission.Exclude_Migration_User_from_Validation} )
),
AND(
{!myVariable_old.RecordType.Name} = &quot;FP Entry Case&quot; ,ISPICKVAL({!myVariable_old.Type} , &quot;Menu Change&quot;), 
ISNEW(), 
NOT(ISBLANK({!myVariable_old.ContactId} )), 
NOT(ISBLANK({!myVariable_old.Contact.Email} )),
NOT({!$Permission.Exclude_Migration_User_from_Validation} )
)
)</expression>
    </formulas>
    <interviewLabel>Menu_Change_Update_Emails-7_InterviewLabel</interviewLabel>
    <label>Menu Change Update Emails</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Case</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <startElementReference>myDecision</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
