force-app/main/default/flows/Menu_Change_Menu_Change_Can_t_be_typed_Due_to_error.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>FP_BD_Menu_Change_Can_t_be_typed_Due_to_error</name>
        <label>FP BD Menu Change - Can’t be typed - Due to error</label>
        <locationX>1495</locationX>
        <locationY>4055</locationY>
        <actionName>Case.FP_BD_Menu_Change_Can_t_be_typed_Due_to_error</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PrimaryCaseVar.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>FP_BD_Menu_Change_Can_t_be_typed_Due_to_markup</name>
        <label>FP BD Menu Change - Can’t be typed - Due to markup</label>
        <locationX>1505</locationX>
        <locationY>4215</locationY>
        <actionName>Case.FP_BD_Menu_Change_Can_t_be_typed_Due_to_markup</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PrimaryCaseVar.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>FP_BD_Menu_Change_DLP_can_t_be_edited</name>
        <label>FP BD Menu Change - DLP can’t be edited</label>
        <locationX>1380</locationX>
        <locationY>4298</locationY>
        <actionName>Case.FP_BD_Menu_Change_DLP_can_t_be_edited</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PrimaryCaseVar.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>FP_BD_Menu_Change_Menu_change_is_live</name>
        <label>FP BD Menu Change - Menu change is live</label>
        <locationX>1364</locationX>
        <locationY>3989</locationY>
        <actionName>Case.FP_BD_Menu_Change_Menu_change_is_live</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PrimaryCaseVar.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>On create - default</description>
        <name>FP_BD_Menu_Change_Update_Request</name>
        <label>FP BD Menu Change - Update Request</label>
        <locationX>1369</locationX>
        <locationY>4124</locationY>
        <actionName>Case.FP_BD_Menu_Change_Update_Request</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PrimaryCaseVar.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>FP_HK_Menu_Change_Can_t_be_typed_Due_to_error</name>
        <label>FP HK Menu Change - Can’t be typed - Due to error</label>
        <locationX>1436</locationX>
        <locationY>195</locationY>
        <actionName>Case.FP_HK_Menu_Change_Can_t_be_typed_Due_to_error</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PrimaryCaseVar.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>FP_HK_Menu_Change_Can_t_be_typed_Due_to_markup</name>
        <label>FP HK Menu Change - Can’t be typed - Due to markup</label>
        <locationX>1434</locationX>
        <locationY>364</locationY>
        <actionName>Case.FP_HK_Menu_Change_Can_t_be_typed_Due_to_markup</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PrimaryCaseVar.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>FP_HK_Menu_Change_Could_not_be_processed_Deflection</name>
        <label>FP HK Menu Change - Could not be processed - Deflection</label>
        <locationX>1584</locationX>
        <locationY>494</locationY>
        <actionName>Case.FP_HK_Menu_Change_Could_not_be_processed_Deflection</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PrimaryCaseVar.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>photos not compliant</description>
        <name>FP_HK_Menu_Change_DLP_can_t_be_edited</name>
        <label>FP HK Menu Change - DLP can’t be edited</label>
        <locationX>1394</locationX>
        <locationY>515</locationY>
        <actionName>Case.FP_HK_Menu_Change_DLP_can_t_be_edited</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PrimaryCaseVar.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Successful</description>
        <name>FP_HK_Menu_Change_Menu_change_is_live</name>
        <label>FP HK Menu Change - Menu change is live</label>
        <locationX>1370</locationX>
        <locationY>50</locationY>
        <actionName>Case.FP_HK_Menu_Change_Menu_change_is_live</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PrimaryCaseVar.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>On create - default</description>
        <name>FP_HK_Menu_Change_Update_Request</name>
        <label>FP HK Menu Change - Update Request</label>
        <locationX>1592</locationX>
        <locationY>302</locationY>
        <actionName>Case.FP_HK_Menu_Change_Update_Request</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PrimaryCaseVar.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>FP_JP_Menu_Change_Can_t_be_typed_Due_to_error</name>
        <label>FP JP Menu Change - Can’t be typed - Due to error</label>
        <locationX>1352</locationX>
        <locationY>5796</locationY>
        <actionName>Case.FP_JP_Menu_Change_Can_t_be_typed_Due_to_error</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PrimaryCaseVar.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>FP_JP_Menu_Change_Can_t_be_typed_Due_to_markup</name>
        <label>FP JP Menu Change - Can’t be typed - Due to markup</label>
        <locationX>1349</locationX>
        <locationY>6023</locationY>
        <actionName>Case.FP_JP_Menu_Change_Can_t_be_typed_Due_to_markup</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PrimaryCaseVar.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>FP_JP_Menu_Change_Could_not_be_processed_Deflection</name>
        <label>FP JP Menu Change - Could not be processed - Deflection</label>
        <locationX>1364</locationX>
        <locationY>6240</locationY>
        <actionName>Case.FP_JP_Menu_Change_Could_not_be_processed_Deflection</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PrimaryCaseVar.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>photos not compliant</description>
        <name>FP_JP_Menu_Change_DLP_can_t_be_edited</name>
        <label>FP JP Menu Change - DLP can’t be edited</label>
        <locationX>1228</locationX>
        <locationY>6100</locationY>
        <actionName>Case.FP_JP_Menu_Change_DLP_can_t_be_edited</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PrimaryCaseVar.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Successful</description>
        <name>FP_JP_Menu_Change_Menu_change_is_live</name>
        <label>FP JP Menu Change - Menu change is live</label>
        <locationX>1213</locationX>
        <locationY>5707</locationY>
        <actionName>Case.FP_JP_Menu_Change_Menu_change_is_live</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PrimaryCaseVar.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>On create - default</description>
        <name>FP_JP_Menu_Change_Update_Request</name>
        <label>FP JP Menu Change - Update Request</label>
        <locationX>1242</locationX>
        <locationY>5903</locationY>
        <actionName>Case.FP_JP_Menu_Change_Update_Request</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PrimaryCaseVar.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>FP_KH_Menu_Change_Can_t_be_typed_Due_to_error</name>
        <label>FP KH Menu Change - Can’t be typed - Due to error</label>
        <locationX>1409</locationX>
        <locationY>1349</locationY>
        <actionName>Case.FP_KH_Menu_Change_Can_t_be_typed_Due_to_error</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PrimaryCaseVar.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>FP_KH_Menu_Change_Can_t_be_typed_Due_to_markup</name>
        <label>FP KH Menu Change - Can’t be typed - Due to markup</label>
        <locationX>1419</locationX>
        <locationY>1537</locationY>
        <actionName>Case.FP_KH_Menu_Change_Can_t_be_typed_Due_to_markup</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PrimaryCaseVar.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>photos not compliant</description>
        <name>FP_KH_Menu_Change_DLP_can_t_be_edited</name>
        <label>FP KH Menu Change - DLP can’t be edited</label>
        <locationX>1365</locationX>
        <locationY>1667</locationY>
        <actionName>Case.FP_KH_Menu_Change_DLP_can_t_be_edited</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PrimaryCaseVar.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Successful</description>
        <name>FP_KH_Menu_Change_Menu_change_is_live</name>
        <label>FP KH Menu Change - Menu change is live</label>
        <locationX>1320</locationX>
        <locationY>1244</locationY>
        <actionName>Case.FP_KH_Menu_Change_Menu_change_is_live</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PrimaryCaseVar.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>On create - default</description>
        <name>FP_KH_Menu_Change_Update_Request</name>
        <label>FP KH Menu Change - Update Request</label>
        <locationX>1517</locationX>
        <locationY>1458</locationY>
        <actionName>Case.FP_KH_Menu_Change_Update_Request</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PrimaryCaseVar.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>FP_LA_Menu_Change_Can_t_be_typed_Due_to_error</name>
        <label>FP LA Menu Change - Can’t be typed - Due to error</label>
        <locationX>1521</locationX>
        <locationY>795</locationY>
        <actionName>Case.FP_LA_Menu_Change_Can_t_be_typed_Due_to_error</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PrimaryCaseVar.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>FP_LA_Menu_Change_Can_t_be_typed_Due_to_markup</name>
        <label>FP LA Menu Change - Can’t be typed - Due to markup</label>
        <locationX>1525</locationX>
        <locationY>983</locationY>
        <actionName>Case.FP_LA_Menu_Change_Can_t_be_typed_Due_to_markup</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PrimaryCaseVar.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>photos not compliant</description>
        <name>FP_LA_Menu_Change_DLP_can_t_be_edited</name>
        <label>FP LA Menu Change - DLP can’t be edited</label>
        <locationX>1401</locationX>
        <locationY>1025</locationY>
        <actionName>Case.FP_LA_Menu_Change_DLP_can_t_be_edited</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PrimaryCaseVar.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Successful</description>
        <name>FP_LA_Menu_Change_Menu_change_is_live</name>
        <label>FP LA Menu Change - Menu change is live</label>
        <locationX>1405</locationX>
        <locationY>707</locationY>
        <actionName>Case.FP_LA_Menu_Change_Menu_change_is_live</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PrimaryCaseVar.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>On create - default</description>
        <name>FP_LA_Menu_Change_Update_Request</name>
        <label>FP LA Menu Change - Update Request</label>
        <locationX>1607</locationX>
        <locationY>891</locationY>
        <actionName>Case.FP_LA_Menu_Change_Update_Request</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PrimaryCaseVar.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>FP_MM_Menu_Change_Can_t_be_typed_Due_to_error</name>
        <label>FP MM Menu Change - Can’t be typed - Due to error</label>
        <locationX>1323</locationX>
        <locationY>1998</locationY>
        <actionName>Case.FP_MM_Menu_Change_Can_t_be_typed_Due_to_error</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PrimaryCaseVar.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>FP_MM_Menu_Change_Can_t_be_typed_Due_to_markup</name>
        <label>FP MM Menu Change - Can’t be typed - Due to markup</label>
        <locationX>1300</locationX>
        <locationY>2218</locationY>
        <actionName>Case.FP_MM_Menu_Change_Can_t_be_typed_Due_to_markup</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PrimaryCaseVar.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>photos not compliant</description>
        <name>FP_MM_Menu_Change_DLP_can_t_be_edited</name>
        <label>FP MM Menu Change - DLP can’t be edited</label>
        <locationX>1198</locationX>
        <locationY>2266</locationY>
        <actionName>Case.FP_MM_Menu_Change_DLP_can_t_be_edited</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PrimaryCaseVar.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Successful</description>
        <name>FP_MM_Menu_Change_Menu_change_is_live</name>
        <label>FP MM Menu Change - Menu change is live</label>
        <locationX>1232</locationX>
        <locationY>1926</locationY>
        <actionName>Case.FP_MM_Menu_Change_Menu_change_is_live</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PrimaryCaseVar.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>On create - default</description>
        <name>FP_MM_Menu_Change_Update_Request</name>
        <label>FP MM Menu Change - Update Request</label>
        <locationX>1409</locationX>
        <locationY>2099</locationY>
        <actionName>Case.FP_MM_Menu_Change_Update_Request</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PrimaryCaseVar.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>FP_MY_Menu_Change_Can_t_be_typed_Due_to_error</name>
        <label>FP MY Menu Change - Can’t be typed - Due to error</label>
        <locationX>1369</locationX>
        <locationY>3168</locationY>
        <actionName>Case.FP_MY_Menu_Change_Can_t_be_typed_Due_to_error</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PrimaryCaseVar.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>FP_MY_Menu_Change_Can_t_be_typed_Due_to_markup</name>
        <label>FP MY Menu Change - Can’t be typed - Due to markup</label>
        <locationX>1382</locationX>
        <locationY>3317</locationY>
        <actionName>Case.FP_MY_Menu_Change_Can_t_be_typed_Due_to_markup</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PrimaryCaseVar.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>FP_MY_Menu_Change_Could_not_be_processed_Deflection</name>
        <label>FP MY Menu Change - Could not be processed - Deflection</label>
        <locationX>1507</locationX>
        <locationY>3424</locationY>
        <actionName>Case.FP_MY_Menu_Change_Could_not_be_processed_Deflection</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PrimaryCaseVar.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>photos not compliant</description>
        <name>FP_MY_Menu_Change_DLP_can_t_be_edited</name>
        <label>FP MY Menu Change - DLP can’t be edited</label>
        <locationX>1256</locationX>
        <locationY>3390</locationY>
        <actionName>Case.FP_MY_Menu_Change_DLP_can_t_be_edited</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PrimaryCaseVar.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Successful</description>
        <name>FP_MY_Menu_Change_Menu_change_is_live</name>
        <label>FP MY Menu Change - Menu change is live</label>
        <locationX>1224</locationX>
        <locationY>3084</locationY>
        <actionName>Case.FP_MY_Menu_Change_Menu_change_is_live</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PrimaryCaseVar.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>On create - default</description>
        <name>FP_MY_Menu_Change_Update_Request</name>
        <label>FP MY Menu Change - Update Request</label>
        <locationX>1500</locationX>
        <locationY>3261</locationY>
        <actionName>Case.FP_MY_Menu_Change_Update_Request</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PrimaryCaseVar.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>FP_PH_Menu_Change_Can_t_be_typed_Due_to_error</name>
        <label>FP PH Menu Change - Can’t be typed - Due to error</label>
        <locationX>1582</locationX>
        <locationY>4594</locationY>
        <actionName>Case.FP_PH_Menu_Change_Can_t_be_typed_Due_to_error</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PrimaryCaseVar.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>FP_PH_Menu_Change_Can_t_be_typed_Due_to_markup</name>
        <label>FP PH Menu Change - Can’t be typed - Due to markup</label>
        <locationX>1587</locationX>
        <locationY>4732</locationY>
        <actionName>Case.FP_PH_Menu_Change_Can_t_be_typed_Due_to_markup</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PrimaryCaseVar.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>FP_PH_Menu_Change_Could_not_be_processed_Deflection</name>
        <label>FP PH Menu Change - Could not be processed - Deflection</label>
        <locationX>1593</locationX>
        <locationY>4901</locationY>
        <actionName>Case.FP_PH_Menu_Change_Could_not_be_processed_Deflection</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PrimaryCaseVar.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>FP_PH_Menu_Change_DLP_can_t_be_edited</name>
        <label>FP PH Menu Change - DLP can’t be edited</label>
        <locationX>1448</locationX>
        <locationY>4807</locationY>
        <actionName>Case.FP_PH_Menu_Change_DLP_can_t_be_edited</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PrimaryCaseVar.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>FP_PH_Menu_Change_Menu_change_is_live</name>
        <label>FP PH Menu Change - Menu change is live</label>
        <locationX>1453</locationX>
        <locationY>4501</locationY>
        <actionName>Case.FP_PH_Menu_Change_Menu_change_is_live</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PrimaryCaseVar.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>FP_PH_Menu_Change_Update_Request</name>
        <label>FP PH Menu Change - Update Request</label>
        <locationX>1455</locationX>
        <locationY>4659</locationY>
        <actionName>Case.FP_PH_Menu_Change_Update_Request</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PrimaryCaseVar.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>FP_SG_Menu_Change_Can_t_be_typed_Due_to_error</name>
        <label>FP SG Menu Change - Can’t be typed - Due to error</label>
        <locationX>1316</locationX>
        <locationY>2579</locationY>
        <actionName>Case.FP_SG_Menu_Change_Can_t_be_typed_Due_to_error</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PrimaryCaseVar.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>FP_SG_Menu_Change_Can_t_be_typed_Due_to_markup</name>
        <label>FP SG Menu Change - Can’t be typed - Due to markup</label>
        <locationX>1272</locationX>
        <locationY>2748</locationY>
        <actionName>Case.FP_SG_Menu_Change_Can_t_be_typed_Due_to_markup</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PrimaryCaseVar.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>FP_SG_Menu_Change_Could_not_be_processed_Deflection</name>
        <label>FP SG Menu Change - Could not be processed - Deflection</label>
        <locationX>1379</locationX>
        <locationY>2856</locationY>
        <actionName>Case.FP_SG_Menu_Change_Could_not_be_processed_Deflection</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PrimaryCaseVar.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>photos not compliant</description>
        <name>FP_SG_Menu_Change_DLP_can_t_be_edited</name>
        <label>FP SG Menu Change - DLP can’t be edited</label>
        <locationX>1149</locationX>
        <locationY>2826</locationY>
        <actionName>Case.FP_SG_Menu_Change_DLP_can_t_be_edited</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PrimaryCaseVar.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Successful</description>
        <name>FP_SG_Menu_Change_Menu_change_is_live</name>
        <label>FP SG Menu Change - Menu change is live</label>
        <locationX>1148</locationX>
        <locationY>2491</locationY>
        <actionName>Case.FP_SG_Menu_Change_Menu_change_is_live</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PrimaryCaseVar.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>On create - default</description>
        <name>FP_SG_Menu_Change_Update_Request</name>
        <label>FP SG Menu Change - Update Request</label>
        <locationX>1375</locationX>
        <locationY>2684</locationY>
        <actionName>Case.FP_SG_Menu_Change_Update_Request</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PrimaryCaseVar.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>FP_TH_Menu_Change_Can_t_be_typed_Due_to_error</name>
        <label>FP TH Menu Change - Can’t be typed - Due to error</label>
        <locationX>1276</locationX>
        <locationY>5184</locationY>
        <actionName>Case.FP_TH_Menu_Change_Can_t_be_typed_Due_to_error</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PrimaryCaseVar.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>FP_TH_Menu_Change_Can_t_be_typed_Due_to_markup</name>
        <label>FP TH Menu Change - Can’t be typed - Due to markup</label>
        <locationX>1297</locationX>
        <locationY>5354</locationY>
        <actionName>Case.FP_TH_Menu_Change_Can_t_be_typed_Due_to_markup</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PrimaryCaseVar.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>FP_TH_Menu_Change_Could_not_be_processed_Deflection</name>
        <label>FP TH Menu Change - Could not be processed - Deflection</label>
        <locationX>1308</locationX>
        <locationY>5519</locationY>
        <actionName>Case.FP_TH_Menu_Change_Could_not_be_processed_Deflection</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PrimaryCaseVar.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>FP_TH_Menu_Change_DLP_can_t_be_edited</name>
        <label>FP TH Menu Change - DLP can’t be edited</label>
        <locationX>1469</locationX>
        <locationY>5473</locationY>
        <actionName>Case.FP_TH_Menu_Change_DLP_can_t_be_edited</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PrimaryCaseVar.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>FP_TH_Menu_Change_Menu_change_is_live</name>
        <label>FP TH Menu Change - Menu change is live</label>
        <locationX>1411</locationX>
        <locationY>5076</locationY>
        <actionName>Case.FP_TH_Menu_Change_Menu_change_is_live</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PrimaryCaseVar.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>On create - default</description>
        <name>FP_TH_Menu_Change_Update_Request</name>
        <label>FP TH Menu Change - Update Request</label>
        <locationX>1409</locationX>
        <locationY>5280</locationY>
        <actionName>Case.FP_TH_Menu_Change_Update_Request</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PrimaryCaseVar.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>FP_TW_Menu_Change_Can_t_be_typed_Due_to_error</name>
        <label>FP TW Menu Change - Can’t be typed - Due to error</label>
        <locationX>1360</locationX>
        <locationY>3686</locationY>
        <actionName>Case.FP_TW_Menu_Change_Can_t_be_typed_Due_to_error</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PrimaryCaseVar.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>FP_TW_Menu_Change_Can_t_be_typed_Due_to_markup</name>
        <label>FP TW Menu Change - Can’t be typed - Due to markup</label>
        <locationX>1356</locationX>
        <locationY>3835</locationY>
        <actionName>Case.FP_TW_Menu_Change_Can_t_be_typed_Due_to_markup</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PrimaryCaseVar.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>FP_TW_Menu_Change_Could_not_be_processed_Deflection</name>
        <label>FP TW Menu Change - Could not be processed - Deflection</label>
        <locationX>1534</locationX>
        <locationY>3622</locationY>
        <actionName>Case.FP_TW_Menu_Change_Could_not_be_processed_Deflection</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PrimaryCaseVar.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>photos not compliant</description>
        <name>FP_TW_Menu_Change_DLP_can_t_be_edited</name>
        <label>FP TW Menu Change - DLP can’t be edited</label>
        <locationX>1215</locationX>
        <locationY>3884</locationY>
        <actionName>Case.FP_TW_Menu_Change_DLP_can_t_be_edited</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PrimaryCaseVar.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>FP_TW_Menu_Change_Menu_change_is_live</name>
        <label>FP TW Menu Change - Menu change is live</label>
        <locationX>1394</locationX>
        <locationY>3576</locationY>
        <actionName>Case.FP_TW_Menu_Change_Menu_change_is_live</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PrimaryCaseVar.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>On create - default</description>
        <name>FP_TW_Menu_Change_Update_Request</name>
        <label>FP TW Menu Change - Update Request</label>
        <locationX>1459</locationX>
        <locationY>3757</locationY>
        <actionName>Case.FP_TW_Menu_Change_Update_Request</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PrimaryCaseVar.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>BD_Bangladesh_email_filter_check</name>
        <label>BD Bangladesh email filter check</label>
        <locationX>893</locationX>
        <locationY>4110</locationY>
        <defaultConnector>
            <targetReference>FP_BD_Menu_Change_Update_Request</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>BD on create</defaultConnectorLabel>
        <rules>
            <name>BD_Closed_not_successful_menu_Issues</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Root_Cause__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Menu Issues</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Closed_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Successful</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FP_BD_Menu_Change_Can_t_be_typed_Due_to_error</targetReference>
            </connector>
            <label>BD Closed not successful menu Issues</label>
        </rules>
        <rules>
            <name>BD_Closed_not_successful_Photos_not_compliant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Closed_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Successful</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Root_Cause__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Photos not compliant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FP_BD_Menu_Change_DLP_can_t_be_edited</targetReference>
            </connector>
            <label>BD Closed not successful Photos not compliant</label>
        </rules>
        <rules>
            <name>BD_Closed_not_successful_Mark_up_Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Closed_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Successful</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Root_Cause__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mark-up Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FP_BD_Menu_Change_Can_t_be_typed_Due_to_markup</targetReference>
            </connector>
            <label>BD Closed not successful Mark-up Rejected</label>
        </rules>
        <rules>
            <name>BD_Closed_successful</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Closed_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Successful</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FP_BD_Menu_Change_Menu_change_is_live</targetReference>
            </connector>
            <label>BD Closed successful</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_case_account_country_filter</name>
        <label>Check case account country filter</label>
        <locationX>646</locationX>
        <locationY>462</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Hong_Kong_menu_change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Account_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hong Kong</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HK_Hong_Kong_email_filter_check</targetReference>
            </connector>
            <label>HK Hong Kong menu change</label>
        </rules>
        <rules>
            <name>LA_Laos_menu_change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Account_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Laos</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LA_Laos_email_filter_check</targetReference>
            </connector>
            <label>LA Laos menu change</label>
        </rules>
        <rules>
            <name>KH_Cambodia_menu_change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Account_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cambodia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>KH_Cambodia_email_filter_check</targetReference>
            </connector>
            <label>KH Cambodia menu change</label>
        </rules>
        <rules>
            <name>MM_Myanmar_menu_change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Account_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Myanmar</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MM_Myanmar_email_filter_check</targetReference>
            </connector>
            <label>MM Myanmar menu change</label>
        </rules>
        <rules>
            <name>SG_Singapore_menu_change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Account_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Singapore</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SG_Singapore_email_filter_check</targetReference>
            </connector>
            <label>SG Singapore menu change</label>
        </rules>
        <rules>
            <name>MY_Malaysia_menu_change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Account_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Malaysia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MY_Malaysia_email_filter_check</targetReference>
            </connector>
            <label>MY Malaysia menu change</label>
        </rules>
        <rules>
            <name>TW_Taiwan_menu_change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Account_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Taiwan</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TW_Taiwan_email_filter_check</targetReference>
            </connector>
            <label>TW Taiwan menu change</label>
        </rules>
        <rules>
            <name>BD_Bangladesh_menu_change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Account_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bangladesh</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BD_Bangladesh_email_filter_check</targetReference>
            </connector>
            <label>BD Bangladesh menu change</label>
        </rules>
        <rules>
            <name>PH_Philippines_menu_change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Account_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Philippines</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PH_Philippines_email_filter_check</targetReference>
            </connector>
            <label>PH Philippines menu change</label>
        </rules>
        <rules>
            <name>Thailand_menu_change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Account_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Thailand</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TH_Thailand_email_filter_check</targetReference>
            </connector>
            <label>TH Thailand menu change</label>
        </rules>
        <rules>
            <name>JP_Japan_menu_change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Account_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Japan</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JP_Japan_email_filter_check</targetReference>
            </connector>
            <label>JP Japan menu change</label>
        </rules>
    </decisions>
    <decisions>
        <name>HK_Hong_Kong_email_filter_check</name>
        <label>HK Hong Kong email filter check</label>
        <locationX>1032</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>FP_HK_Menu_Change_Update_Request</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>HK on create</defaultConnectorLabel>
        <rules>
            <name>HK_Closed_not_successful_menu_Issues</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Root_Cause__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Menu Issues</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Closed_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Successful</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FP_HK_Menu_Change_Can_t_be_typed_Due_to_error</targetReference>
            </connector>
            <label>HK Closed not successful menu Issues</label>
        </rules>
        <rules>
            <name>HK_Closed_not_successful_Photos_not_compliant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Closed_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Successful</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Root_Cause__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Photos not compliant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FP_HK_Menu_Change_DLP_can_t_be_edited</targetReference>
            </connector>
            <label>HK Closed not successful Photos not compliant</label>
        </rules>
        <rules>
            <name>HK_Closed_not_successful_Mark_up_Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Closed_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Successful</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Root_Cause__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mark-up Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FP_HK_Menu_Change_Can_t_be_typed_Due_to_markup</targetReference>
            </connector>
            <label>HK Closed not successful Mark-up Rejected</label>
        </rules>
        <rules>
            <name>HK_Closed_successful</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Closed_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Successful</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FP_HK_Menu_Change_Menu_change_is_live</targetReference>
            </connector>
            <label>HK Closed successful</label>
        </rules>
        <rules>
            <name>HK_Closed_not_successful_Deflection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Root_Cause__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deflection</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Closed_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Successful</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FP_HK_Menu_Change_Could_not_be_processed_Deflection</targetReference>
            </connector>
            <label>HK Closed not successful Deflection</label>
        </rules>
    </decisions>
    <decisions>
        <name>JP_Japan_email_filter_check</name>
        <label>JP Japan email filter check</label>
        <locationX>840</locationX>
        <locationY>5960</locationY>
        <defaultConnector>
            <targetReference>FP_JP_Menu_Change_Update_Request</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>JP on create</defaultConnectorLabel>
        <rules>
            <name>JP_Closed_not_successful_menu_Issues</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Root_Cause__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Menu Issues</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Closed_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Successful</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FP_JP_Menu_Change_Can_t_be_typed_Due_to_error</targetReference>
            </connector>
            <label>JP Closed not successful menu Issues</label>
        </rules>
        <rules>
            <name>JP_Closed_not_successful_Photos_not_compliant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Closed_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Successful</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Root_Cause__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Photos not compliant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FP_JP_Menu_Change_DLP_can_t_be_edited</targetReference>
            </connector>
            <label>JP Closed not successful Photos not compliant</label>
        </rules>
        <rules>
            <name>JP_Closed_not_successful_Mark_up_Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Closed_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Successful</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Root_Cause__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mark-up Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FP_JP_Menu_Change_Can_t_be_typed_Due_to_markup</targetReference>
            </connector>
            <label>JP Closed not successful Mark-up Rejected</label>
        </rules>
        <rules>
            <name>JP_Closed_successful</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Closed_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Successful</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FP_JP_Menu_Change_Menu_change_is_live</targetReference>
            </connector>
            <label>JP Closed successful</label>
        </rules>
        <rules>
            <name>JP_Closed_not_successful_Deflection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Root_Cause__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deflection</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Closed_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Successful</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FP_JP_Menu_Change_Could_not_be_processed_Deflection</targetReference>
            </connector>
            <label>JP Closed not successful Deflection</label>
        </rules>
    </decisions>
    <decisions>
        <name>KH_Cambodia_email_filter_check</name>
        <label>KH Cambodia email filter check</label>
        <locationX>992</locationX>
        <locationY>1405</locationY>
        <defaultConnector>
            <targetReference>FP_KH_Menu_Change_Update_Request</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>KH on create</defaultConnectorLabel>
        <rules>
            <name>KH_Closed_not_successful_menu_Issues</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Root_Cause__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Menu Issues</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Closed_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Successful</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FP_KH_Menu_Change_Can_t_be_typed_Due_to_error</targetReference>
            </connector>
            <label>KH Closed not successful menu Issues</label>
        </rules>
        <rules>
            <name>KH_Closed_not_successful_Photos_not_compliant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Closed_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Successful</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Root_Cause__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Photos not compliant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FP_KH_Menu_Change_DLP_can_t_be_edited</targetReference>
            </connector>
            <label>KH Closed not successful Photos not compliant</label>
        </rules>
        <rules>
            <name>KH_Closed_not_successful_Mark_up_Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Closed_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Successful</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Root_Cause__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mark-up Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FP_KH_Menu_Change_Can_t_be_typed_Due_to_markup</targetReference>
            </connector>
            <label>KH Closed not successful Mark-up Rejected</label>
        </rules>
        <rules>
            <name>KH_Closed_successful</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Closed_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Successful</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FP_KH_Menu_Change_Menu_change_is_live</targetReference>
            </connector>
            <label>KH Closed successful</label>
        </rules>
    </decisions>
    <decisions>
        <name>LA_Laos_email_filter_check</name>
        <label>LA Laos email filter check</label>
        <locationX>1018</locationX>
        <locationY>961</locationY>
        <defaultConnector>
            <targetReference>FP_LA_Menu_Change_Update_Request</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>LA on create</defaultConnectorLabel>
        <rules>
            <name>LA_Closed_not_successful_menu_issues</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Root_Cause__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Menu Issues</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Closed_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Successful</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FP_LA_Menu_Change_Can_t_be_typed_Due_to_error</targetReference>
            </connector>
            <label>LA Closed not successful menu issues</label>
        </rules>
        <rules>
            <name>LA_Closed_not_successful_Photos_not_compliant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Closed_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Successful</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Root_Cause__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Photos not compliant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FP_LA_Menu_Change_DLP_can_t_be_edited</targetReference>
            </connector>
            <label>LA Closed not successful Photos not compliant</label>
        </rules>
        <rules>
            <name>LA_Closed_not_successful_Mark_up_Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Closed_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Successful</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Root_Cause__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mark-up Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FP_LA_Menu_Change_Can_t_be_typed_Due_to_markup</targetReference>
            </connector>
            <label>LA Closed not successful Mark-up Rejected</label>
        </rules>
        <rules>
            <name>LA_Closed_successful</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Closed_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Successful</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FP_LA_Menu_Change_Menu_change_is_live</targetReference>
            </connector>
            <label>LA Closed successful</label>
        </rules>
    </decisions>
    <decisions>
        <name>MM_Myanmar_email_filter_check</name>
        <label>MM Myanmar email filter check</label>
        <locationX>976</locationX>
        <locationY>2081</locationY>
        <defaultConnector>
            <targetReference>FP_MM_Menu_Change_Update_Request</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>MM on create</defaultConnectorLabel>
        <rules>
            <name>MM_Closed_not_successful_menu_Issues</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Root_Cause__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Menu Issues</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Closed_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Successful</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FP_MM_Menu_Change_Can_t_be_typed_Due_to_error</targetReference>
            </connector>
            <label>MM Closed not successful menu Issues</label>
        </rules>
        <rules>
            <name>MM_Closed_not_successful_Photos_not_compliant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Closed_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Successful</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Root_Cause__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Photos not compliant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FP_MM_Menu_Change_DLP_can_t_be_edited</targetReference>
            </connector>
            <label>MM Closed not successful Photos not compliant</label>
        </rules>
        <rules>
            <name>MM_Closed_not_successful_Mark_up_Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Closed_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Successful</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Root_Cause__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mark-up Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FP_MM_Menu_Change_Can_t_be_typed_Due_to_markup</targetReference>
            </connector>
            <label>MM Closed not successful Mark-up Rejected</label>
        </rules>
        <rules>
            <name>MM_Closed_successful</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Closed_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Successful</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FP_MM_Menu_Change_Menu_change_is_live</targetReference>
            </connector>
            <label>MM Closed successful</label>
        </rules>
    </decisions>
    <decisions>
        <name>MY_Malaysia_email_filter_check</name>
        <label>MY Malaysia email filter check</label>
        <locationX>961</locationX>
        <locationY>3247</locationY>
        <defaultConnector>
            <targetReference>FP_MY_Menu_Change_Update_Request</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>MY on create</defaultConnectorLabel>
        <rules>
            <name>MY_Closed_not_successful_menu_Issues</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Root_Cause__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Menu Issues</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Closed_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Successful</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FP_MY_Menu_Change_Can_t_be_typed_Due_to_error</targetReference>
            </connector>
            <label>MY Closed not successful menu Issues</label>
        </rules>
        <rules>
            <name>MY_Closed_not_successful_Photos_not_compliant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Closed_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Successful</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Root_Cause__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Photos not compliant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FP_MY_Menu_Change_DLP_can_t_be_edited</targetReference>
            </connector>
            <label>MY Closed not successful Photos not compliant</label>
        </rules>
        <rules>
            <name>MY_Closed_not_successful_Mark_up_Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Closed_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Successful</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Root_Cause__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mark-up Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FP_MY_Menu_Change_Can_t_be_typed_Due_to_markup</targetReference>
            </connector>
            <label>MY Closed not successful Mark-up Rejected</label>
        </rules>
        <rules>
            <name>MY_Closed_successful</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Closed_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Successful</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FP_MY_Menu_Change_Menu_change_is_live</targetReference>
            </connector>
            <label>MY Closed successful</label>
        </rules>
        <rules>
            <name>MY_Closed_not_successful_Deflection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Root_Cause__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deflection</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Closed_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Successful</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FP_MY_Menu_Change_Could_not_be_processed_Deflection</targetReference>
            </connector>
            <label>MY Closed not successful Deflection</label>
        </rules>
    </decisions>
    <decisions>
        <name>PH_Philippines_email_filter_check</name>
        <label>PH Philippines email filter check</label>
        <locationX>872</locationX>
        <locationY>4663</locationY>
        <defaultConnector>
            <targetReference>FP_PH_Menu_Change_Update_Request</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>PH on create</defaultConnectorLabel>
        <rules>
            <name>PH_Closed_not_successful_menu_Issues</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Root_Cause__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Menu Issues</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Closed_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Successful</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FP_PH_Menu_Change_Can_t_be_typed_Due_to_error</targetReference>
            </connector>
            <label>PH Closed not successful menu Issues</label>
        </rules>
        <rules>
            <name>PH_Closed_not_successful_Photos_not_compliant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Closed_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Successful</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Root_Cause__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Photos not compliant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FP_PH_Menu_Change_DLP_can_t_be_edited</targetReference>
            </connector>
            <label>PH Closed not successful Photos not compliant</label>
        </rules>
        <rules>
            <name>PH_Closed_not_successful_Mark_up_Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Closed_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Successful</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Root_Cause__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mark-up Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FP_PH_Menu_Change_Can_t_be_typed_Due_to_markup</targetReference>
            </connector>
            <label>PH Closed not successful Mark-up Rejected</label>
        </rules>
        <rules>
            <name>PH_Closed_successful</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Closed_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Successful</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FP_PH_Menu_Change_Menu_change_is_live</targetReference>
            </connector>
            <label>PH Closed successful</label>
        </rules>
        <rules>
            <name>PH_Closed_not_successful_Deflection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Root_Cause__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deflection</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Closed_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Successful</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FP_PH_Menu_Change_Could_not_be_processed_Deflection</targetReference>
            </connector>
            <label>PH Closed not successful Deflection</label>
        </rules>
    </decisions>
    <decisions>
        <name>SG_Singapore_email_filter_check</name>
        <label>SG Singapore email filter check</label>
        <locationX>971</locationX>
        <locationY>2690</locationY>
        <defaultConnector>
            <targetReference>FP_SG_Menu_Change_Update_Request</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SG on create</defaultConnectorLabel>
        <rules>
            <name>SG_Closed_not_successful_menu_Issues</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Root_Cause__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Menu Issues</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Closed_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Successful</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FP_SG_Menu_Change_Can_t_be_typed_Due_to_error</targetReference>
            </connector>
            <label>SG Closed not successful menu Issues</label>
        </rules>
        <rules>
            <name>SG_Closed_not_successful_Photos_not_compliant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Closed_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Successful</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Root_Cause__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Photos not compliant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FP_SG_Menu_Change_DLP_can_t_be_edited</targetReference>
            </connector>
            <label>SG Closed not successful Photos not compliant</label>
        </rules>
        <rules>
            <name>SG_Closed_not_successful_Mark_up_Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Closed_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Successful</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Root_Cause__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mark-up Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FP_SG_Menu_Change_Can_t_be_typed_Due_to_markup</targetReference>
            </connector>
            <label>SG Closed not successful Mark-up Rejected</label>
        </rules>
        <rules>
            <name>SG_Closed_successful</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Closed_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Successful</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FP_SG_Menu_Change_Menu_change_is_live</targetReference>
            </connector>
            <label>SG Closed successful</label>
        </rules>
        <rules>
            <name>SG_Closed_not_successful_Deflection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Root_Cause__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deflection</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Closed_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Successful</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FP_SG_Menu_Change_Could_not_be_processed_Deflection</targetReference>
            </connector>
            <label>SG Closed not successful Deflection</label>
        </rules>
    </decisions>
    <decisions>
        <name>TH_Thailand_email_filter_check</name>
        <label>TH Thailand email filter check</label>
        <locationX>887</locationX>
        <locationY>5276</locationY>
        <defaultConnector>
            <targetReference>FP_TH_Menu_Change_Update_Request</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>TH on create</defaultConnectorLabel>
        <rules>
            <name>TH_Closed_not_successful_menu_Issues</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Root_Cause__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Menu Issues</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Closed_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Successful</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FP_TH_Menu_Change_Can_t_be_typed_Due_to_error</targetReference>
            </connector>
            <label>TH Closed not successful menu Issues</label>
        </rules>
        <rules>
            <name>TH_Closed_not_successful_Photos_not_compliant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Closed_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Successful</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Root_Cause__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Photos not compliant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FP_TH_Menu_Change_DLP_can_t_be_edited</targetReference>
            </connector>
            <label>TH Closed not successful Photos not compliant</label>
        </rules>
        <rules>
            <name>TH_Closed_not_successful_Mark_up_Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Closed_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Successful</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Root_Cause__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mark-up Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FP_TH_Menu_Change_Can_t_be_typed_Due_to_markup</targetReference>
            </connector>
            <label>TH Closed not successful Mark-up Rejected</label>
        </rules>
        <rules>
            <name>TH_Closed_successful</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Closed_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Successful</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FP_TH_Menu_Change_Menu_change_is_live</targetReference>
            </connector>
            <label>TH Closed successful</label>
        </rules>
        <rules>
            <name>TH_Closed_not_successful_Deflection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Root_Cause__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deflection</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Closed_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Successful</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FP_TH_Menu_Change_Could_not_be_processed_Deflection</targetReference>
            </connector>
            <label>TH Closed not successful Deflection</label>
        </rules>
    </decisions>
    <decisions>
        <name>TW_Taiwan_email_filter_check</name>
        <label>TW Taiwan email filter check</label>
        <locationX>950</locationX>
        <locationY>3750</locationY>
        <defaultConnector>
            <targetReference>FP_TW_Menu_Change_Update_Request</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>TW on create</defaultConnectorLabel>
        <rules>
            <name>TW_Closed_not_successful_menu_Issues</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Root_Cause__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Menu Issues</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Closed_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Successful</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FP_TW_Menu_Change_Can_t_be_typed_Due_to_error</targetReference>
            </connector>
            <label>TW Closed not successful menu Issues</label>
        </rules>
        <rules>
            <name>TW_Closed_not_successful_Photos_not_compliant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Closed_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Successful</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Root_Cause__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Photos not compliant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FP_TW_Menu_Change_DLP_can_t_be_edited</targetReference>
            </connector>
            <label>TW Closed not successful Photos not compliant</label>
        </rules>
        <rules>
            <name>TW_Closed_not_successful_Mark_up_Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Closed_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Successful</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Root_Cause__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mark-up Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FP_TW_Menu_Change_Can_t_be_typed_Due_to_markup</targetReference>
            </connector>
            <label>TW Closed not successful Mark-up Rejected</label>
        </rules>
        <rules>
            <name>TW_Closed_successful</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Closed_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Successful</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FP_TW_Menu_Change_Menu_change_is_live</targetReference>
            </connector>
            <label>TW Closed successful</label>
        </rules>
        <rules>
            <name>TW_Closed_not_successful_Deflection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Root_Cause__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deflection</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryCaseVar.Closed_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Successful</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FP_TW_Menu_Change_Could_not_be_processed_Deflection</targetReference>
            </connector>
            <label>TW Closed not successful Deflection</label>
        </rules>
    </decisions>
    <description>Connected with the process builder : &apos;Menu Change Update Emails&apos; - Wave One - Singapore (SG)/Malaysia (MY)/ Taiwan (TW)</description>
    <interviewLabel>Menu Change: Menu Change Can’t be typed Due to error {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Menu Change: Menu Change Update Emails</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>retrieve the menu change case. Filters already preformed on process builder</description>
        <name>Get_menu_change_case</name>
        <label>Get menu change case</label>
        <locationX>419</locationX>
        <locationY>460</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_case_account_country_filter</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PrimaryCaseVar.Id</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>PrimaryCaseVar</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Account_Country__c</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Root_Cause__c</queriedFields>
        <queriedFields>Closed_Reason__c</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
        <queriedFields>Menu_URL__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>79</locationX>
        <locationY>462</locationY>
        <connector>
            <targetReference>Get_menu_change_case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>this is the main case variable used</description>
        <name>PrimaryCaseVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
