force-app/main/default/flows/Talabat_Escalation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>AssigneQueue</name>
        <label>AssigneQueue</label>
        <locationX>1139</locationX>
        <locationY>203</locationY>
        <assignmentItems>
            <assignToReference>Case.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateCaseOwner</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Escalation</name>
        <label>Escalation</label>
        <locationX>533</locationX>
        <locationY>263</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CMT_Escalation_HighPrio</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8)</conditionLogic>
            <conditions>
                <leftValueReference>RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Talabat_Inbound_Case</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case.Case_Reason_Level_3__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Online payment issue</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case.Case_Reason_Level_3__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Money collection issue</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case.Case_Reason_Level_3__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Incorrect invoice details</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case.Case_Reason_Level_3__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Voucher already used</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case.Case_Reason_Level_3__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Voucher validity</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case.Case_Reason_Level_3__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Voucher conditions</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case.Case_Reason_Level_3__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cannot apply</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getQueue_Talabat_Cases_CMT_Escalation_High_Prio</targetReference>
            </connector>
            <label>CMT Escalation HighPrio</label>
        </rules>
        <rules>
            <name>CMT_Escalation_Low_Prio</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8)</conditionLogic>
            <conditions>
                <leftValueReference>RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Talabat_Inbound_Case</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case.Case_Reason_Level_3__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Online payment issue</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case.Case_Reason_Level_3__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Money collection issue</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case.Case_Reason_Level_3__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Incorrect invoice details</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case.Case_Reason_Level_3__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Voucher already used</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case.Case_Reason_Level_3__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Voucher validity</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case.Case_Reason_Level_3__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Voucher conditions</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case.Case_Reason_Level_3__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cannot apply</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getQueue_Talabat_Cases_CMT_Escalation_Low_Prio</targetReference>
            </connector>
            <label>CMT Escalation Low Prio</label>
        </rules>
        <rules>
            <name>DifferentCriteria</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Talabat_Inbound_Case</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case.Case_Reason_Level_3__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Info</targetReference>
            </connector>
            <label>DifferentCriteria</label>
        </rules>
    </decisions>
    <interviewLabel>Talabat Escalation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Escalation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>CurrentCase</name>
        <label>CurrentCase</label>
        <locationX>210</locationX>
        <locationY>107</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getRecordType</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>Case</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Case_Reason_Level_3__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>OwnerId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getQueue_Talabat_Cases_CMT_Escalation_High_Prio</name>
        <label>getQueue_Talabat_Cases_CMT_Escalation_High_Prio</label>
        <locationX>795</locationX>
        <locationY>64</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssigneQueue</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Talabat_Cases_CMT_Escalation_High_Prio</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>Queue</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getQueue_Talabat_Cases_CMT_Escalation_Low_Prio</name>
        <label>getQueue_Talabat_Cases_CMT_Escalation_Low_Prio</label>
        <locationX>787</locationX>
        <locationY>339</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssigneQueue</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Talabat_Cases_CMT_Escalation_Low_Prio</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>Queue</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getRecordType</name>
        <label>getRecordType</label>
        <locationX>350</locationX>
        <locationY>107</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Escalation</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Case.RecordTypeId</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>RecordType</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>updateCaseOwner</name>
        <label>updateCaseOwner</label>
        <locationX>1306</locationX>
        <locationY>203</locationY>
        <inputReference>Case</inputReference>
    </recordUpdates>
    <screens>
        <name>Info</name>
        <label>Info</label>
        <locationX>644</locationX>
        <locationY>511</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>InfoDescription</name>
            <fieldText>The case does not meet the criteria to be escalated.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>CurrentCase</startElementReference>
    <status>Active</status>
    <variables>
        <name>Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Queue</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>RecordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RecordType</objectType>
    </variables>
</Flow>
