force-app/main/default/flows/UpdateAccountNameFromContactFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>BlankContactId</name>
        <label>BlankContactId</label>
        <locationX>307</locationX>
        <locationY>306</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>UpdateAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>UpdateAccountName</targetReference>
            </connector>
            <label>UpdateAccount</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckIds</name>
        <label>CheckIds</label>
        <locationX>299</locationX>
        <locationY>32</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>ProceedThroughAccountId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccoutId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>FetchContact</targetReference>
            </connector>
            <label>ProceedThroughAccountId</label>
        </rules>
        <rules>
            <name>ProceedThroughContactId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>AccoutId</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>FetchContactFromContactId</targetReference>
            </connector>
            <label>ProceedThroughContactId</label>
        </rules>
    </decisions>
    <formulas>
        <name>NameConcat</name>
        <dataType>String</dataType>
        <expression>{!firstName} + &apos; &apos; + {!middleName} + &apos; &apos; + {!lastName}</expression>
    </formulas>
    <interviewLabel>UpdateAccountNameFromContactFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UpdateAccountNameFromContactFlow</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>FetchContact</name>
        <label>FetchContact</label>
        <locationX>169</locationX>
        <locationY>144</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>BlankContactId</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccoutId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact_Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Owner</stringValue>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>firstName</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ContactId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>lastName</assignToReference>
            <field>LastName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>middleName</assignToReference>
            <field>MiddleName</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>FetchContactFromContactId</name>
        <label>FetchContactFromContactId</label>
        <locationX>435</locationX>
        <locationY>144</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>BlankContactId</targetReference>
        </connector>
        <filters>
            <field>Contact_Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Owner</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>AccoutId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>firstName</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ContactId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>lastName</assignToReference>
            <field>LastName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>middleName</assignToReference>
            <field>MiddleName</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>UpdateAccountName</name>
        <label>UpdateAccountName</label>
        <locationX>309</locationX>
        <locationY>435</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccoutId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Legal_form__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Einzelunternehmen</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>NameConcat</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <startElementReference>CheckIds</startElementReference>
    <status>Draft</status>
    <variables>
        <name>AccoutId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>firstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>middleName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
