force-app/main/default/flows/Update_Account_Status_Status_Reason_from_Contract_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Is_Active</name>
        <label>Is Active?</label>
        <locationX>815</locationX>
        <locationY>262</locationY>
        <assignmentItems>
            <assignToReference>Active</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_each_commission_type</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_there_commission_fee_or_Logistics_Active</name>
        <label>Is there commission fee or Logistics Active?</label>
        <locationX>1142</locationX>
        <locationY>151</locationY>
        <defaultConnector>
            <targetReference>Check_each_commission_type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>(1 OR 2 ) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>vEachContract.Service_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Commission Fee</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vEachContract.Service_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Logistics Fee</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vEachContract.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Active</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Isactive</name>
        <label>Is active?</label>
        <locationX>497</locationX>
        <locationY>254</locationY>
        <defaultConnector>
            <targetReference>Contract_Terminated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Active</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>At_Least_One_Contract_Active_Active_Status</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>ctrIncrement</name>
        <dataType>Number</dataType>
        <expression>1</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Update Account Status &amp; Status Reason from Contract Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Account Status &amp; Status Reason from Contract Status</label>
    <loops>
        <name>Check_each_commission_type</name>
        <label>Check each commission type</label>
        <locationX>815</locationX>
        <locationY>25</locationY>
        <assignNextValueToReference>vEachContract</assignNextValueToReference>
        <collectionReference>vRelatedContracts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_there_commission_fee_or_Logistics_Active</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Isactive</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_all_contracts</name>
        <label>Lookup all contracts</label>
        <locationX>492</locationX>
        <locationY>21</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_each_commission_type</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vaccountid</elementReference>
            </value>
        </filters>
        <object>Contract</object>
        <outputReference>vRelatedContracts</outputReference>
        <queriedFields>Status</queriedFields>
        <queriedFields>Company__c</queriedFields>
        <queriedFields>Service_Type__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>At_Least_One_Contract_Active_Active_Status</name>
        <label>At Least One Contract Active - Active Status</label>
        <locationX>307</locationX>
        <locationY>323</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vaccountid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status_Reason__c</field>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Contract_Terminated</name>
        <label>Contract Terminated</label>
        <locationX>311</locationX>
        <locationY>201</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vaccountid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Status__c</field>
            <value>
                <stringValue>Terminated</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status_Reason__c</field>
            <value>
                <elementReference>TerminationReason</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>34</locationY>
        <connector>
            <targetReference>Lookup_all_contracts</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>CommissionFee1</name>
        <text>{!vEachContract.Service_Type__c}=&quot;Commisison Fee&quot;</text>
    </textTemplates>
    <variables>
        <name>Active</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EachContractStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TerminationReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vaccountid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vCtr</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>vEachContract</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>vRelatedContracts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contract</objectType>
    </variables>
</Flow>
